<%inherit file="layout.html"/>

<%def name="cards(collector)">
    <%
        collection = view.collectionMeta
        collector = view.collectorMeta
        loans = collection.getDenseList(collection.Loan)
        cooperations = collection.getDenseList(collection.Cooperation)
        museums = collector.getDenseList(collector.Museum)
        society = collector.getDenseList(collector.SocietyMember)
    %>
    %if collection and (len(loans) or len(cooperations)) or collector and (len(museums) or len(society)):
        ${self.loanCard(loans)}
        ${self.cooperationCard(cooperations)}
        ${self.boardCard(museums)}
        ${self.societyCard(society)}
    %else:
        <%self:card title="No information available yet">
            <div class="line">
                <div class="value">
                    We are constantly updating our database, check back soon.
                </div>
            </div>
        </%self:card>
    %endif

</%def>

<%def name="loanCard(loans)">
    %if len(loans):
    <%self:card title="Permanent Loans and Donations of Artworks">
            %for loan in loans:
                <div class="single-museum">
                <%self:addressCol obj="${loan}">
                    ${self.simpleLine("Organization", loan.institution)}
                    ${self.simpleLine("Year", loan.year)}
                    ${self.simpleLine("What", loan.name)}
                    ${self.simpleLine("Comment", loan.comment)}
                </%self:addressCol>
                </div>
            %endfor
    </%self:card>
    %endif
</%def>

<%def name="cooperationCard(cooperations)">
    %if len(cooperations):
    <%self:card title="Cooperations with External Institutions">
            %for loan in cooperations:
                <div class="single-museum">
                <%self:addressCol obj="${loan}">
                    ${self.simpleLine("Organization", loan.institution)}
                    ${self.simpleLine("Year", loan.year)}
                    ${self.simpleLine("Type of Cooperation", loan.type)}
                    ${self.simpleLine("Comment", loan.comment)}
                </%self:addressCol>
                </div>
            %endfor
    </%self:card>
    %endif
</%def>

<%def name="boardCard(museums)">
    %if len(museums):
    <%self:card title="Museum Board, Advisory and Committee Positions">
        %for loan in museums:
            <div class="single-museum">
            <%self:addressCol obj="${loan}">
                ${self.simpleLine("Name of Institution", loan.museum)}
                ${self.simpleLine("Name of Institution", loan.other_name)}
                ${self.simpleLine("Year", loan.year)}
                ${self.simpleLine("Position", loan.position)}
            </%self:addressCol>
            </div>
        %endfor
    </%self:card>
    %endif
</%def>

<%def name="societyCard(society)">
    %if len(society):
    <%self:card title="Museum Friends' Circle and Art Societies Memberships">
            %for loan in society:
                <div class="single-museum">
                <%self:addressCol obj="${loan}">
                    ${self.simpleLine("Name of Institution", loan.societyName)}
                    ${self.simpleLine("Year", loan.year)}
                    ${self.simpleLine("Position", loan.position)}
                </%self:addressCol>
                </div>
            %endfor
    </%self:card>
    %endif
</%def>
