<%inherit file="layout.html"/>

<%def name="cards(collector)">
    <%
        collection = view.collectionMeta
        collector = view.collectorMeta
    %>
    %if collection and (len(collection.Loan) or len(collection.Cooperation)) or collector and (len(collector.Museum) or len(collector.SocietyMember)):
        ${self.loanCard(collection)}
        ${self.cooperationCard(collection)}
        ${self.boardCard(collector)}
        ${self.societyCard(collector)}
    %else:
        <%self:card title="No information available yet">
            <div class="line">
                <div class="value">
                    We are constantly updating our database, check back soon.
                </div>
            </div>
        </%self:card>
    %endif

</%def>

<%def name="loanCard(collection)">
    <% loans = collection.getDenseList(collection.Loan) %>
    %if len(loans):
    <%self:card title="Permanent Loans and Donations of Artworks">
            %for loan in loans:
                <div class="single-museum">
                <%self:addressCol obj="${loan}">
                    ${self.simpleLine("Organization", loan.institution)}
                    ${self.simpleLine("Year", loan.year)}
                    ${self.simpleLine("What", loan.name)}
                    ${self.simpleLine("Comment", loan.comment)}
                </%self:addressCol>
                </div>
            %endfor
    </%self:card>
    %endif
</%def>

<%def name="cooperationCard(collection)">
    <% cooperations = collection.getDenseList(collection.Cooperation) %>
    %if len(cooperations):
    <%self:card title="Cooperations with External Institutions">
            %for loan in cooperations:
                <div class="single-museum">
                <%self:addressCol obj="${loan}">
                    ${self.simpleLine("Organization", loan.institution)}
                    ${self.simpleLine("Year", loan.year)}
                    ${self.simpleLine("Type of Cooperation", loan.type)}
                    ${self.simpleLine("Comment", loan.comment)}
                </%self:addressCol>
                </div>
            %endfor
    </%self:card>
    %endif
</%def>

<%def name="boardCard(collector)">
    <% museums = collector.getDenseList(collector.Museum) %>
    %if len(museums):
    <%self:card title="Museum Board, Advisory and Committee Positions">
        %for loan in museums:
            <div class="single-museum">
            <%self:addressCol obj="${loan}">
                ${self.simpleLine("Name of Institution", loan.museum)}
                ${self.simpleLine("Name of Institution", loan.other_name)}
                ${self.simpleLine("Year", loan.year)}
                ${self.simpleLine("Position", loan.position)}
            </%self:addressCol>
            </div>
        %endfor
    </%self:card>
    %endif
</%def>

<%def name="societyCard(collector)">
    <% society = collector.getDenseList(collector.SocietyMember) %>
    %if len(society):
    <%self:card title="Museum Friends' Circle and Art Societies Memberships">
            %for loan in society:
                <div class="single-museum">
                <%self:addressCol obj="${loan}">
                    ${self.simpleLine("Name of Institution", loan.societyName)}
                    ${self.simpleLine("Year", loan.year)}
                    ${self.simpleLine("Position", loan.position)}
                </%self:addressCol>
                </div>
            %endfor
    </%self:card>
    %endif
</%def>
