<%inherit file="layout.html"/>

<%def name="cards(collector)">
    %if collector.Collection:
        ${self.basicCard(collector.Collection)}
        ${self.artistsCard(collector.Collection)}
        ${self.artworksCard(collector.Collection)}
    %endif
    %if view.collectionMeta:
        <%
            collection = view.collectionMeta
            museums = view.getDenseList(collection, 'Museum')
            directors = view.getDenseList(collection, 'Director')
            publications = view.getDenseList(collection, 'Publication')
            artadvisors = view.getDenseList(collection, 'ArtAdvisor')
        %>
        ${self.exhibitionCard(museums)}
        ${self.directorCard(directors)}
        ${self.publicationCard(publications)}
        ${self.artAdvisorCard(artadvisors)}
    %endif
    %if not (collector.Collection or view.collectionMeta):
        <%self:card title="No information available yet">
        <div class="line">
            <div class="value">
                We are constantly updating our database, check back soon.
            </div>
        </div>
        </%self:card>
    %endif
</%def>

<%def name="basicCard(collection)">
    <%self:card title="Basic Information">
        <div class="row">
            <div class="span6">
                ${self.simpleLine('name', collection.name)}
                ${self.simpleLine('Collection is Foundation', collection.foundation)}
                ${self.simpleLink('Website', collection.url)}
                ${self.simpleLine('Started collecting in year', collection.year)}
                ${self.simpleLine('Number of Artworks', collection.getNoArtworks())}
                ${self.simpleLine('Number of Artists', collection.getNoArtists())}
                ${self.multiLine(collection, "Themes of Collection", "Theme")}
                ${self.multiLine(collection, "Category, genre or styistic period represented in collection", "Genre")}
            </div>
            <div class="span6">
                ${self.multiLine(collection, "Regional origin of artists in collection", "Origin")}
                ${self.multiLine(collection, "medium of artworks represented in collection", "Medium")}
            </div>
        </div>
    </%self:card>
</%def>

<%def name="artistsCard(collection)">
    %if collection.hasArtists():
        <%self:card title="Artists in Collection">
            <% val = collection.Artist %>
            %if len(val):
                <%self:line label="Artists">
                    <ul class="multi-column unstyled">
                        %for i in val:
                            <li>
                            <a href="${request.fwd_url("website_search", _query=[('ARTIST', i.id)])}">${i.getLabel(request)}</a>
                            </li>
                        %endfor
                    </ul>
                </%self:line>
            %endif
        </%self:card>
    %endif
</%def>

<%def name="artworksCard(collection)">
    %if collection.hasArtworks():
        <%self:card title="Artworks in Collection">
            <%self:line label="Artworks">
                <ul class="multi-column unstyled">
                    %for artist in collection.Artist:
                        %for artwork in artist.ArtWork:
                            <li class="single-artwork">
                                <div>
                                <a href="${request.fwd_url("website_search", _query=[('ARTIST', artist.id)])}">${artist.getLabel(request)}</a></div>
                                ${self.value(artwork.title, classes="strong")}
                                ${self.value(artwork.year, "Year")}
                                ${self.value(artwork.medium)}
                                %if artwork.size:
                                    <div>${artwork.size}</div>
                                %endif
                                ${self.value(artwork.material)}
                            </li>
                        %endfor
                    %endfor
                </ul>
            </%self:line>
        </%self:card>
    %endif
</%def>

<%def name="exhibitionCard(museums)">
    %if len(museums):
    <%self:card title="Exhibition Space / Museum of Collector">
            %for museum in museums:
                <div class="single-museum">
                <%self:addressCol obj="${museum}">
                    ${self.simpleLine("Name", museum.permanentSpace)}
                    ${self.simpleLine("Founded in", museum.year)}
                    ${self.simpleLine("Telephone", museum.telephone)}
                    ${self.simpleLink("Website", museum.url)}
                </%self:addressCol>
                </div>
            %endfor
    </%self:card>
    %endif
</%def>

<%def name="directorCard(directors)">
    %if len(directors):
    <%self:card title="Curator of Collection">
            %for director in directors:
                <div class="single-museum">
                    ${self.simpleLine("Position", director.position)}
                    ${self.simpleLine("Name", director.getLabel(request))}
                    ${self.simpleLine("Name in Original Language", director.origName)}
                    ${self.simpleLine("Email", director.email)}
                    ${self.simpleLink("Facebook", director.facebook)}
                    ${self.simpleLink("Linked in", director.linkedin)}
                </div>
            %endfor
    </%self:card>
    %endif
</%def>

<%def name="publicationCard(pubs)">
    %if len(pubs):
    <%self:card title="Publications">
            %for pub in pubs:
                <div class="multi-column-line">
                    ${self.simpleLine("Publication", pub.title)}
                    ${self.simpleLine("Publisher", pub.publisher)}
                    ${self.simpleLine("Year", pub.year)}
                </div>
            %endfor
    </%self:card>
    %endif
</%def>

<%def name="artAdvisorCard(advisors)">
    %if len(advisors):
        <%self:card title="Art advisor">
            %for aa in advisors:
                <div class="single-museum">
                    ${self.simpleLine("Name", aa.getLabel(request))}
                    ${self.simpleLine("Name in Original Language", aa.origName)}
                    ${self.simpleLine("Company", aa.company)}
                    ${self.simpleLine("Email", aa.email)}
                    ${self.simpleLink("Facebook", aa.facebook)}
                    ${self.simpleLink("Linked in", aa.linkedin)}
                </div>
            %endfor
        </%self:card>
    %endif
</%def>
