<%inherit file="layout.html"/>

<%def name="cards(collector)">
    ${self.basicCard(collector)}
    ${self.recommendedCard()}
    ${self.addressCard(collector)}
    ${self.businessCard(collector)}
    ${self.addInfoCard(collector)}
</%def>


<%def name="basicCard(collector)">
    <%self:card title="Basic Information">
        ${self.simpleLine('Nationality', collector.nationality)}
        ${self.simpleLine('Born', collector.getDOB(request))}
        ${self.multiLine(collector, "Areas of interest", "Interest")}
        ${self.multiLine(collector, "Education", "University")}
        ${self.multiLine(collector, "Email", "Email")}

        %if len(collector.Network):
            <%self:line label="Social Media">
                %for net in collector.Network:
                    <a href="${net.getAddress(request)}" class="social-media ${net.getIcon(request)}">${net.getLabel(request)}</a>
                %endfor
            </%self:line>
        %endif

        %if collector.wikipedia:
            <%self:line label="Wikipedia">
                <a href="${collector.wikipedia}">${collector.wikipedia}</a>
            </%self:line>
        %endif

    </%self:card>
</%def>

<%def name="addressCard(collector)">
    <%self:card title="Locations">
        <%self:line label="Locations">
            %for address in collector.Address:
                <div class="address-value">
                    <div>${address.getLines(request)|n}</div>
                    <div>${address.getCityPostCode(request)|n}</div>
                    <div>${address.getRegion(request)|n}</div>
                    <div>${address.getCountry(request)|n}</div>
                </div>
            %endfor
        </%self:line>
    </%self:card>
</%def>

<%def name="businessCard(collector)">
    %if collector.hasBusiness():
        <%self:card title="Business">
            ${self.multiLine(collector, "Industries engaged in", "Industry")}
            %if len(collector.Company):
                <%self:line label="Company">
                    %for company in collector.Company:
                        <%self:addressCol obj="${company}">
                            <div><b>${company.name or 'No Name'}</b></div>
                            ${self.value(company.position)}
                            ${self.value(company.industry, "Industry")}
                        </%self:addressCol>
                    %endfor
                </%self:line>
            %endif
        </%self:card>
    %endif
</%def>

<%def name="addInfoCard(collector)">
    %if collector.hasFacts():
        <%self:card title="Additional Information">
            %for fact in collector.Fact:
               %if fact.value:
                   ${self.simpleLine("Fact", fact.value)}
               %endif
            %endfor
        </%self:card>
    %endif
</%def>

