<%inherit file="../layout.html"/>
<%namespace file="../widgets.html" name="widgets"/>


<%def name="content()">
    <div class="container">
        <div class="row">
            <div class="span12">
                ${self.collectorCard(view.collector)}
            </div>
        </div>
    </div>

    <div id="index-tab-nav">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <ul class="nav nav-pills home-nav-pills four-col">
                        ${self.tabLink("Personal", "website_collector_personal")}
                        ${self.tabLink("Collection", "website_collector_collection")}
                        ${self.tabLink("Art Engagement", "website_collector_art")}
                        ${self.tabLink("Sources", "website_collector_news")}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="affix-placeholder"></div>

    <div class="container">
        <div class="row">
            <div class="span12 collector-details-cards">
                ${self.cards(view.collector)}
            </div>
        </div>
    </div>
</%def>

<%def name="tabLink(label, route)">
    <li class="nav-pill-large ${'active' if request.matched_route.name == route else ''}"><a href="${request.fwd_url(route, **request.matchdict)}" class="nav-entry-link">${label}</a></li>
</%def>

<%def name="collectorCard(collector)">
    <div class="collector-card">
        <div class="collector-picture-card">
            <div class="collector-picture-big"><img class="picture" src="${collector.getPicture(request)}"/></div>
            <div class="collector-details">
                <div class="pull-right collector-stats">
                    <div class="search-column rank">
                        <b class="value">${collector.getRank()}</b>
                        <small class="caption">Ranking</small>
                    </div>
                    <div class="search-column contact">
                        <span class="value large profile-icon ${'has-prop' if collector.isContactable else 'no-prop'}"></span>
                        <small class="caption">Contact</small>
                    </div>
                    <div class="search-column collection">
                        <span class="value large profile-icon ${'has-prop' if collector.hasCollection else 'no-prop'}"></span>
                        <small class="caption">Collection</small>
                    </div>
                </div>

                <h3 class="highlight name">${collector.getNameWTitle()}</h3>
                %if collector.origName:
                    <h3 class="highlight name">${collector.origName}</h3>
                %endif
                <div class="address">
                    ${collector.getAddress()}
                </div>
                %if collector.LinkedCollector:
                    <% ll = collector.LinkedCollector %>
                    <div class="collector-partner">
                        <small class="heading" style="display: inline-block;margin-top: 10px;">Partner:</small>
                        %if vctxt.user.hasCollector(ll):
                            <a href="${request.fwd_url("website_collector_personal", collectorId=ll.id, name=ll.getName())}" class="text">${ll.getName()}</a>
                        %else:
                            <span class="text">${ll.getName()}</span> &nbsp;&nbsp; <a href="#" class="btn btn-primary add-to-cart-link" data-profile=${ll.getJson()|n}>Buy Now</a>
                        %endif
                    </div>
                %endif
            </div>
        </div>
        <div class="genre-list">
            <div class="last-updated caption"><span class="heading">Last updated:</span> <b>${collector.getUpdated()}</b></div>
            <div class="heading">category, genre or stylistic period:</div>
            <div class="text">${collector.getGenreList()}</div>
        </div>
    </div>
</%def>

<%def name="recommendedCard()">
    <div class="collector-details-card address-card">
        ${widgets.recommendations(True, classes='card-title highlight')}
    </div>
</%def>



<%def name="card(title)">
    <div class="collector-details-card address-card">
        <h4 class="card-title">${title}</h4>
        <div class="card-content">${caller.body()}</div>
    </div>
</%def>


<%def name="value(v, pref = None, classes='')">
    %if v:
        <div class="${classes}">${'{}: '.format(pref) if pref else ''}${v|n}</div>
    %endif
</%def>



<%def name="simpleLine(label, value, classes='')">
    %if value:
        <div class="line ${classes}">
            <small class="heading key">
                ${label}:
            </small>
            <div class="value">
                ${value|n}
            </div>
        </div>
    %endif
</%def>

<%def name="simpleLink(label, value, classes='', extra_attrs = [])">
    %if value:
        <div class="line ${classes}">
            <small class="heading key">
                ${label}:
            </small>
            <div class="value">
                <a class="text-overflow" href="${value}" ${u' '.join(extra_attrs)|n}>${value}</a>
            </div>
        </div>
    %endif
</%def>


<%def name="line(label, value = None, classes='')">
    <div class="line ${classes}">
        <small class="heading key">
        ${label}:
        </small>
        <div class="value">
        ${value or caller.body()}
        </div>
    </div>
</%def>


<%def name="multiLine(collector, label, key, classes='')">
    <% val = getattr(collector, key, []) %>
    %if len(val):
        <%self:line label="${label}">
            <ul class="${classes} unstyled">
                %for i in val:
                    <li>${i.getLabel(request)}</li>
                %endfor
            </ul>
        </%self:line>
    %endif
</%def>

<%def name="addressCol(obj)">
    <div class="address-line">
        <div class="first-col-value">
            ${caller.body()}
        </div><div class="address-value"><div class="line">
                <small class="heading key">
                    Location:
                </small>
                <div class="value">
                    ${self.value(obj.getLines(request))}
                    ${self.value(obj.getCityPostCode(request))}
                    ${self.value(obj.getRegion(request))}
                    ${self.value(obj.getCountry(request))}
                </div>
            </div>
            ${self.simpleLink("Website", obj.website)}
        </div>
    </div>
</%def>


<%block name="scripts">
    <script>
        require(["views/recommendation"], function(View){
            new View({el: $(".recommended-collectors")});
        });
        $("#index-tab-nav").affix({offset: $("#index-tab-nav").offset().top});
    </script>
</%block>