<%inherit file="layout.html"/>

<%def name="cards(collector)">
    %if len(vctxt.collector.Source):
        ${self.sourcesCard(vctxt.collector)}
    %else:
        <%self:card title="No information available yet">
            <div class="line">
                <div class="value">
                    We are constantly updating our database, check back soon.
                </div>
            </div>
        </%self:card>
    %endif
</%def>

<%def name="sourcesCard(collector)">
    <%self:card title="Sources">
        %for source in collector.Source:
            %if source.isURL():
                ${self.simpleLink(source.type, source.url, classes="extra-long")}
            %else:
                ${self.simpleLine(source.type, source.getSourceLine(), classes="extra-long")}
            %endif
        %endfor
    </%self:card>
</%def>