<%inherit file="layout.html"/>

<%block name="contentbody">
    <div class="padded-body dashboard">
        %if vctxt.user.isAdmin():
            <div class="row-fluid">
                <div class="span6">
                    <h4>Collectors pending approval</h4>
                    <div class="approval-queue collector-list submitted"><img src="${ROOT_STATIC_URL}img/ajax-loader-light.gif" class="loader"/></div>
                    <hr/>
                    <h4>My recent collectors</h4>
                    <div class="collector-list my-profiles"><img src="${ROOT_STATIC_URL}img/ajax-loader-light.gif" class="loader"/></div>
                </div>
                <div class="span6">
                    <h4>Approved Collectors</h4>
                    <div class="approval-queue collector-list approved"><img src="${ROOT_STATIC_URL}img/ajax-loader-light.gif" class="loader"/></div>
                </div>
            </div>
        %else:
            <h4>My recent collectors</h4>
            <div class="collector-list my-profiles"><img src="${ROOT_STATIC_URL}img/ajax-loader-light.gif" class="loader"/></div>
        %endif
    </div>
</%block>


<%block name="scripts">
    <script>
        require(["tools/ajax"], function(ajax){
            var approvals = $(".approval-queue");
            if(approvals.length){
                $.ajax({url:'${request.fwd_url("admin_approval_queue")}', success: function(resp, status, xhr){
                    _.each(resp.html, function(val, key, obj){
                        approvals.filter("."+key).html(val);
                    });
                }})
            }
            $.ajax({url:'${request.fwd_url("admin_myprofiles")}', success: function(resp, status, xhr){
                $(".collector-list.my-profiles").html(resp.html);
            }})

        });
    </script>
</%block>