<%inherit file="layout.html"/>


<%block name="contentbody">
    <div class="padded-body dashboard">
        %if vctxt.user.isAdmin():
            <h4>Collectors pending approval</h4>
            <div class="collector-list">
            %for profile in submitted:
                <div class="single-profile">
                    <a class="profile-link" href="${request.fwd_url("admin_collector_edit", collectorId = profile.id, stage="base")}">${profile.firstName} ${profile.lastName}</a>
                    ${profile.getStatusLabel()}

                </div>
            %endfor
            </div>
        %endif

        <h4>My recent collectors</h4>
        <div class="collector-list">
        %for profile in profiles:
            <div class="single-profile">
                <a class="profile-link" href="${request.fwd_url("admin_collector_edit", collectorId = profile.id, stage="base")}">${profile.firstName} ${profile.lastName}</a>
                ${profile.getStatusLabel()}
            </div>
        %endfor
        </div>

    </div>
</%block>