<%inherit file="base.html" />
<%def name="containerClass()">container-fluid</%def>
<%def name="rowClass()">row-fluid</%def>
<%def name="contentClass()">decorated</%def>


<%block name="header">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="${request.fwd_url("admin_index")}">${g.project_name} - Admin</a>
                <div class="navbar-search search-field" id="main-search-wrapper">
                    <input type="text" class="search-query query span5" placeholder="search for a collector" tabindex="5" autocomplete="off">
                </div>
            </div>
        </div>
    </div>
</%block>

<%block name="content">
    <div class="${self.containerClass()} ${self.contentClass()} body-wrapper">
        <%block name="outerContentBody">
            <div class="content-status-wrapper">
                <%block name="contentstatus">${self.contentStatusImpl()}</%block>
            </div>
            <div class="content-menu">
                <%block name="contentmenu">${self.contentMenuImpl()}</%block>
            </div>
            <div class="content-body ${'has-status' if local.contentStatusImpl != self.contentStatusImpl else ''}">
                <div style="width:100%;float:left;">
                    ${self.header_messages()}
                    <%block name="contentbody"/>
                    <%block name="contentbodyappendix"/>
                </div>
            </div>
        </%block>
    </div>
</%block>

<%block name="footer"></%block>
<%block name="layoutscripts">
    <script>
        require(["views/collectorsearch"], function(initSearch){
            var search = initSearch($('#main-search-wrapper'), '${request.fwd_url("admin_collector_create")}', "${request.ajax_url("admin_collector_edit", escaped = dict(collectorId = '{{ model.id }}'), stage = 'basic')|n}");
        });
    </script>
</%block>


<%def name="contentStatusImpl()"></%def>
<%def name="contentStatusImpl()"></%def>
<%def name="contentMenuImpl()">
    <div class="menu-heading">Admin Area</div>
    <ul class="nav nav-list">
    </ul>
</%def>