<%namespace file="larryslist:lib/formlib/templates/baseform.html" name="baseform"/>
<div class="modal popup-modal checkout-options-modal hide">
    <form class="form-validated" method="post" action="${request.fwd_url("website_checkout_set_option")}">
        ${baseform.prelims(form)}
        <div class="modal-body">
               %for field in form.fields:
                   ${field.render(form.id, request, values, errors, view)|n}
               %endfor

              <div class="explanation-row">
                  <h5 class="highlight">This is what you get</h5>
                  <ul>
                      <li>access to profile for 1 year (free updated included)</li>
                      <li>all available information on profile (incl. address, collection, etc.)</li>
                      <li>access from everywhere 24/7</li>
                  </ul>
                  <div class="modal-button">
                      <button type="submit" class="btn btn-primary btn-large">${form.action_label}</button>
                  </div>
              </div>

        </div>

        <div class="modal-footer">
            <ul class="recommendation-icons inline">
                <li>${g.project_name} is known from:</li>
                <li><img src="${STATIC_URL}img/adpartner_nyt.png?v=${VERSION_TOKEN}"/></li>
                <li><img src="${STATIC_URL}img/adpartner_cnn.png?v=${VERSION_TOKEN}"/></li>
                <li><img src="${STATIC_URL}img/adpartner_art.png?v=${VERSION_TOKEN}"/></li>
            </ul>
        </div>
    </form>
</div>
