<%inherit file="layout.html"/>


<%def name="content()">

<div class="container">
    <div class="row">
        <div class="span12">
            <h1 class="profile-count-band">
                The only art collector database - currently containing
                <b class="count-suffix">${vctxt.config.ReviewedCollectors.no} Collector profiles</b>
                in the database
            </h1>
        </div>
    </div>
    <form class="search-form form-validated index-search-form" method="GET" action="${request.fwd_url("website_search", query='')}">
        <div class="row">
            <div class="span12">
                <h1 class="box-title center">Find Art Collectors</h1>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <div class="control-group first">
                    <label class="control-label search-title">
                        What city is the Collector based in?
                    </label>
                    <div class="controls typeahead" data-api-url="/api/0.0.1/web/search/addressTypeAhead" data-api-result="TypeAhead">
                        <div class="search-field"><input type="hidden" class="key"/><input type="text" class="input-fullwidth query" autocomplete="off"/></div>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="control-group last">
                    <label class="control-label search-title">
                        What artist are you looking for?
                    </label>
                    <div class="controls typeahead" data-api-url="/search/entity" data-api-key="ARTIST">

                        <div class="search-field"><input type="hidden" class="key"/><input type="text" class="input-fullwidth query" autocomplete="off"/></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12 center">
                <button type="submit" class="btn btn-primary btn-large btn-extra-wide"><span data-icon="s" aria-hidden="true"></span> Search</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="span12">
            <h1 class="box-title center">This Is How It Works</h1>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="home-icons">
                <div class="home-icon search"></div>
                <div class="text">Search collectors via filters</div>
            </div><div class="home-icons">
                <div class="home-icon buy"></div>
                <div class="text">Buy profiles at 9&euro; each</div>
            </div><div class="home-icons">
                <div class="home-icon view"></div>
                <div class="text">View collector's profiles</div>
            </div>
        </div>
    </div>
</div>

<div id="index-tab-nav">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="nav nav-pills home-nav-pills"><li class="nav-pill-large active"><a href="#what-you-get">
                    What You Get
                </a></li><li class="nav-pill-large"><a href="#pricing">
                    Pricing
                </a></li><li class="nav-pill-large"><a href="#ranking">
                    Collector Ranking
                </a></li><li class="nav-pill-large"><a href="#data-sources">
                    Data Sources
                </a></li><li class="nav-pill-large"><a href="#who-is-larry">
                    Who is Larry?
                </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="affix-placeholder"></div>
    <div class="landing-lower-page">
        <div class="container">
            <div class="row">
                <div class="span12 homepage-tab-container">
                    ${self.tabs()}
                </div>
            </div>
        </div>
    </div>
</div>

</%def>

<%block name="scripts">
    <script>
        require(["views/landing"], function(View){new View({el: $(".index-search-form") });});
        $("#index-tab-nav").affix({offset: $("#index-tab-nav").offset().top});
        $(window).scrollspy({target: "#index-tab-nav", offset: 200});
    </script>
</%block>


<%def name="tabs()">
    <div id="what-you-get" class="index-pane">
        <div class="panel picture"><img src="${STATIC_URL}img/landing/profiles.png?${VERSION_TOKEN}" class="home-picture"/> </div>
        <div class="panel text">
            <div class="panel-content">
                <h3 class="highlight">Detailed Collector Profiles</h3>
                <p>We compiled detailed information on leading art collectors around the world. Carefully and manually selected by our reserchers there is no other database alike. Use our filters to find your matching art collector</p>
                <p><a data-toggle="modal" data-target="#data-profile-sample-modal">Here is an example of a profile</a></p>
            </div>
        </div>
    </div><hr class="pane-separator">
    <div id="pricing" class="index-pane">
        <div class="panel picture"><img src="${STATIC_URL}img/landing/pricing.png?${VERSION_TOKEN}" class="home-picture"/> </div>
        <div class="panel text">
            <div class="panel-content">
                <h3 class="highlight">Simple Pricing</h3>
                <p>Yearly subscription fee, several thousands for a database - no way. We created a fair and simple pricing. You can either pay per profile. Or you can buy credits for purchases at a later time.</p>
                <p>Once you purchased a profile, you will be able to see it for a year, including all updates.</p>
            </div>
        </div>
    </div><hr class="pane-separator">
    <div id="ranking" class="index-pane">
        <div class="panel picture"><img src="${STATIC_URL}img/landing/ranking.png?${VERSION_TOKEN}" class="home-picture"/> </div>
        <div class="panel text">
            <div class="panel-content">
                <h3 class="highlight">A Transparent Ranking - finally.</h3>
                <p>We believe in transparency. Hence, we defined a ranking that is not based on how much the collector spends but on how active he is in the market. Our methodology is unique.</p>
                <p>Learn more here.</p>
            </div>
        </div>
    </div><hr class="pane-separator">
    <div id="data-sources" class="index-pane">
        <div class="panel">
            <div class="panel-content spaced">
                <h2>We search <b>every document in the planet in every language,</b></h2>
                <h2>And assign the data to the most select <b>10.000 art collectors,</b></h2>
                <h2>so you can instantly find the one collector <b>you are looking for.</b></h2>
            </div>
        </div>
        <div class="panel text">
            <div class="panel-content">
                <h3 class="highlight">We Love Research.<br/>Love Research.</h3>
                <p>We love researching. This is our job. We looked into almost every database, book, website, just to find all the information available on the leading art collectors. You dont believe it? </p>
                <p>Test us.</p>
            </div>
        </div>
    </div><hr class="pane-separator">
    <div id="who-is-larry" class="index-pane">
        <div class="panel picture"><img src="${STATIC_URL}img/landing/team.png?${VERSION_TOKEN}" class="home-picture"/> </div>
        <div class="panel text">
            <div class="panel-content">
                <h3 class="highlight">International team</h3>
                <p>Our team consists of art market researchers from around the world. Currently, we have more than 20 nationalities, all with an background in art history or art dealing experience.</p>
                <p>Learn more here.</p>
            </div>
        </div>
    </div>


<div id="data-profile-sample-modal" class="modal hide">
    <h1 class="modal-header">Take a peek at what we can do</h1>
    <div class="modal-body white click-tabs-hint">
        <ul class="nav nav-pills home-nav-pills four-col">
          <li class="nav-pill-large active"><a href="#home-index" data-toggle="tab">Personal</a></li>
          <li class="nav-pill-large"><a href="#home-profile" data-toggle="tab">Collection</a></li>
          <li class="nav-pill-large"><a href="#home-art" data-toggle="tab">Art Engagement</a></li>
          <li class="nav-pill-large"><a href="#home-news" data-toggle="tab">Sources</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade active in" id="home-index">
            <img src="${STATIC_URL}img/landing/personal.jpg" align="left">
          </div>

          <div class="tab-pane fade" id="home-profile">
           <img src="${STATIC_URL}img/landing/collection.jpg" align="left">
          </div>

          <div class="tab-pane fade" id="home-art">
            <img src="${STATIC_URL}img/landing/art-engagement.jpg">
          </div>

          <div class="tab-pane fade" id="home-news">
            <img src="${STATIC_URL}img/landing/sources.jpg">
          </div>
        </div>
    </div>
</div>

</%def>