<%inherit file="layout.html"/>
<%namespace file="widgets.html" name="widgets"/>
<%namespace file="search/index.html" name="search"/>

<%def name="content()">
<div class="container">
    <div class="row">
        <div class="span8 standard-frame news-frame">
            <h5 class="box-title inline tinted">News</h5>

            <div class="frame-body">
                %for news in newsfeed:
                    <article>
                        <div class="summary">${news.value}</div>
                        <small class="source">${news.source}</small>
                    </article>
                %endfor
            </div>

        </div>
        <div class="span4 standard-frame">
            ${widgets.recommendations()}
        </div>
    </div>
</div>
    <div class="search-page-container spaced-top">
        ${search.searchBody(True)}
    </div>
</%def>

<%block name="options">
    options.pageconfig.SEARCH = {el: $(".search-page-container")};
</%block>
<%block name="scripts">
    <script>
        require(["views/recommendation"], function(View){
            new View({el: $(".recommended-collectors")});
        });
    </script>
</%block>