<%inherit file="layout.html"/>


<%def name="content()">
<div class="container standard-box centered index-page">
    <div class="row">
        <div class="span12">
            <h1 class="box-title">Find Art Collectors</h1>
        </div>
        <form class="search-form form-validated" method="GET" action="${request.fwd_url("website_search", query='')}">
            <div class="span6">
                <div class="control-group first">
                    <label class="control-label">
                        What city is the Collector based in?
                    </label>
                    <div class="controls">
                        <input type="text" name="loc" class="input-xlarge"/><button type="submit" class="btn btn-primary"><span data-icon="s" aria-hidden="true"></span> Search</button>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="control-group last">
                    <label class="control-label">
                        What type of art is (s)he collecting?
                    </label>
                    <div class="controls">
                        <input type="text" name="genre" class="input-xlarge"/><button type="submit" class="btn btn-primary"><span data-icon="s" aria-hidden="true"></span> Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</%def>