<%inherit file="layout.html"/>
<%namespace file="widgets.html" name="widgets"/>
<%namespace file="search/index.html" name="search"/>
<%namespace file="index.html" name="index"/>

<%def name="content()">
    ${index.searchForm()}
    <div class="search-page-container spaced-top">
        ${search.searchBody(True)}
    </div>
</%def>

<%block name="scripts">
    <script>
        require(["views/landing"], function(View){new View({el: $(".index-search-form") });});
        require(["views/search", "views/recommendation"], function(v, View){
            new View({el: $(".recommended-collectors")});
            new v.View({el: $(".search-page-container"), query:${query|n}, filters: ${filters|n}}).render();
        });
    </script>
</%block>