<%inherit file="base.html"/>

<div id="global-frame">
    <%block name="header">
        <div class="navbar">
        <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="${request.fwd_url("admin_index")}">${g.project_name}</a>
            ${self.menu(vctxt.user)}
       </div>
       </div>
       </div>

    </%block>
    <%block name="contentwrapper">
        ${next.content()}
    </%block>
    <%block name="footer">
    </%block>
</div>

<%block name="layoutscripts">
</%block>

<%def name="menu(user)">
    %if user.isAnon():
        <ul class="nav pull-right">
            <li class="nav-entry">
                <a class="nav-entry-link" href="${request.fwd_url("website_signup")}">
                    Signup
                </a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="${request.fwd_url("website_login")}">
                    Login
                    <span class="caret"></span>
                </a>
                <span class="down-arrow"></span>
                <ul class="dropdown-menu">
                    <li>
                        <% form, values, errors = request.root.getLoginForm() %>
                        <form class="form form-validated" id="${form.id}" method="post" action="${request.fwd_url("website_login")}">
                            <input type="hidden" name="type" value="${form.id}"/>
                            <input type="hidden" name="furl" value="${request.furl}"/>
                            <input type="hidden" name="token" value="${request.session.get_csrf_token()}"/>
                            %for field in form.fields:
                                ${field.render(form.id, request, values, errors, view)|n}
                            %endfor
                            <button type="submit" class="btn btn-primary" tabindex="5">Login</button>
                            <a class="link js-link" hnc-loader="standalone/password">Forgot password</a>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    %endif
</%def>