<%inherit file="base.html"/>

<div id="global-frame" class="${self.pageClass()}">
    <%block name="header">
        <div class="navbar">
        <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="${request.fwd_url("website_index")}">${g.project_name}</a>
            ${self.menu(vctxt.user)}
       </div>
       </div>
       </div>
        ${self.header_messages()}
    </%block>
    <%block name="contentwrapper">
        ${next.content()}
    </%block>
    <%block name="footer">
    </%block>
</div>


<%def name="menu(user)">
    %if user.isAnon():
        <ul class="nav pull-right">
            <li class="nav-entry dropdown cart-dropdown-section">
                <a class="nav-entry-link" data-toggle="dropdown" href="${request.fwd_url("website_cart")}">
                    Cart <span class="total">0</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="nav-entry">
                        <div class="nav-entry-spaced">
                            <span class="total">0</span> collectors selected
                        </div>
                    </li>
                    <li class="nav-entry">
                        <div class="nav-entry-spaced">
                            <a class="btn btn-primary" href="${request.fwd_url("website_index")}">Buy now</a>
                        </div>
                    </li>
                    <li>
                        <a href="/cart">See Cart Details</a>
                    </li>
                </ul>
            </li>

            <li class="nav-entry">
                <a class="nav-entry-link" href="${request.fwd_url("website_signup")}">
                    Signup
                </a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="${request.fwd_url("website_login")}">
                    Login
                    <span class="caret"></span>
                </a>
                <span class="down-arrow"></span>
                <ul class="dropdown-menu">
                    <li>
                        <% form, values, errors = request.root.getLoginForm() %>
                        <form class="form form-validated" id="login-pull-down-form" method="post" action="${request.fwd_url("website_login")}">
                            <input type="hidden" name="type" value="${form.id}"/>
                            <input type="hidden" name="furl" value="${request.furl}"/>
                            <input type="hidden" name="token" value="${request.session.get_csrf_token()}"/>
                            %for field in form.fields:
                                ${field.render(form.id, request, values, errors, view)|n}
                            %endfor
                            <button type="submit" class="btn btn-primary">Login</button>
                            <a class="link js-link" hnc-loader="views/password">Forgot password</a>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    %else:
        <ul class="nav pull-right">
            <li class="nav-entry">
                <a class="nav-entry-link" href="${request.fwd_url("website_logout")}">
                    Logout
                </a>
            </li>
        </ul>
    %endif
</%def>


<%block name="layoutscripts"/>
<%def name="pageClass()"></%def>
