<%inherit file="base.html"/>

<div id="global-frame" class="${self.pageClass()}">
    <%block name="header">
        <div class="navbar">
        <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="${request.fwd_url("website_index")}"><img src="${ROOT_STATIC_URL}img/logo.png?${VERSION_TOKEN}" alt="${g.project_name}"/></a>
            ${self.menu(vctxt.user)}
       </div>
       </div>
       </div>
        ${self.header_messages()}
    </%block>
    <%block name="contentwrapper">
        <div class="page-wrapper">
            ${next.content()}
        </div>
    </%block>
    <%block name="footer">
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="span2">
                    <h4>About</h4>
                    <ul class="unstyled">
                        <li><a href="${request.fwd_url("website_index")}#what-you-get" class="footer-link">What you get</a></li>
                        <li><a href="${request.fwd_url("website_index")}#pricing" class="footer-link">Pricing</a></li>
                        <li><a href="${request.fwd_url("website_index")}#ranking" class="footer-link">Collector Ranking</a></li>
                        <li><a href="${request.fwd_url("website_index")}#data-sources" class="footer-link">Data Sources</a></li>
                        <li><a href="${request.fwd_url("website_index")}#who-is-larry" class="footer-link">Who is Larry?</a></li>
                    </ul>
                </div>
                <div class="span2">
                    <h4>Services</h4>
                    <ul class="unstyled">
                        <li><a href="http://artmarket.larryslist.com" class="footer-link">Blog</a></li>
                        <li><a href="/collector-report" class="footer-link">Collector Report</a></li>
                    </ul>
                </div>
                <div class="span2">
                    <h4>Info</h4>
                    <ul class="unstyled">
                        <li><a href="/faq" class="footer-link">FAQ</a></li>
                        <a href="/careers" class="footer-link">Career</a>
                        <li><a href="/privacy" class="footer-link">Privacy</a></li>
                        <a href="/impressum" class="footer-link">Impressum</a>
                    </ul>
                </div>
                <div class="span2">
                    <h4>Corporate</h4>
                    <ul class="unstyled">
                        <li><a href="/press" class="footer-link">Press</a></li>
                        <li><a href="/contact" class="footer-link">Contact</a></li>
                        <li><a href="/terms" class="footer-link">Terms & Conditions</a></li>
                    </ul>
                </div>
                <div class="span4">
                    <!-- Begin MailChimp Signup Form -->
                    <div id="mc_embed_signup">
                        <form action="http://larrylist.us6.list-manage.com/subscribe/post?u=864162daef&amp;id=708c4879f8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
                            <label class="mail-chimp-header" for="mce-EMAIL">Newsletter sign-up</label>
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Type in your email address" required><button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">Go</button>
                        </form>
                    </div>
                    <!--End mc_embed_signup-->
                </div>
            </div>
        </div>
    </footer>
    </%block>
</div>


<%def name="menu(user)">
    %if not vctxt.user.isAnon():
        <ul class="nav">
            <li class="nav-entry"><a class="nav-entry-link" href="${request.fwd_url("website_index_member")}">My Collectors</a></li>
        </ul>
    %endif
    <ul class="nav pull-right">
        <li class="nav-entry"><a class="nav-entry-link" href="http://artmarket.larryslist.com">Blog</a></li>
        <li class="nav-entry"><a class="nav-entry-link" href="/collector-report">Collector Report</a></li>

        <li class="dropdown cart-dropdown-section">
            <a class="dropdown-toggle" data-toggle="dropdown" href="${request.fwd_url("website_cart")}">
                <span class="cart-total total">${len(vctxt.cart.getItems())}</span><span class="cart-icon"></span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li class="nav-entry cart-attach-dropdown"></li>
            </ul>
        </li>
    %if user.isAnon():
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="${request.fwd_url("website_login")}">
                    Login
                    <span class="caret"></span>
                </a>
                <span class="down-arrow"></span>
                <ul class="dropdown-menu">
                    <li>
                        <% form, values, errors = request.root.getLoginForm() %>
                        <form class="form form-validated" id="login-pull-down-form" method="post" action="${request.fwd_url("website_login")}">
                            <input type="hidden" name="type" value="${form.id}"/>
                            <input type="hidden" name="furl" value="${request.furl}"/>
                            <input type="hidden" name="token" value="${request.session.get_csrf_token()}"/>
                            %for field in form.fields:
                                ${field.render(form.id, request, values, errors, view)|n}
                            %endfor
                            <a class="btn-neighbor link js-link" hnc-loader="views/password">Forgot password</a>
                            <button type="submit" class="btn btn-primary pull-right">Login</button>

                        </form>
                    </li>
                </ul>
            </li>
    %else:
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="${request.fwd_url("website_user_profile")}">
                    ${vctxt.user.name}
                    <span class="caret"></span>
                </a>
                <span class="down-arrow"></span>
                <ul class="dropdown-menu">
                    <li class="nav-entry">
                        <a class="nav-entry-link" href="${request.fwd_url("website_user_profile")}">
                            Account
                        </a>
                    </li>
                    <li class="nav-entry">
                        <a class="nav-entry-link" href="${request.fwd_url("website_logout")}">
                            Logout
                        </a>
                    </li>
                </ul>
            </li>
    %endif
    </ul>
</%def>


<%block name="layoutscripts"/>
<%def name="pageClass()"></%def>
