<%inherit file="../layout.html"/>
<%namespace file="larryslist:lib/formlib/templates/baseform.html" name="baseform"/>


<%def name="content()">
    <div class="container standard-box centered cart-page">
        <div class="row">
            <div class="span12">
                <div class="search-results-container">
                    <h1 class="box-title">Your selected profiles</h1>

                    <div class="search-results-header">
                        <div class="search-column picture">
                            Collector
                        </div><div class="search-column completion">
                            Completion
                        </div><div class="search-column subscribers">
                            Followers
                        </div><div class="search-column rank">
                            Rank
                        </div><div class="search-column rank">
                            Remove
                        </div>
                        <div class="search-column details">
                            &nbsp;
                        </div>
                    </div>
                    <div>
                        ${vctxt.config.PaymentOption}

                    </div>
                    <ul class="search-results-body cart-items">
                        <li class="show-loading">
                            <img src="${ROOT_STATIC_URL}img/ajax-loader.gif"/>
                        </li>
                    </ul>
                </div>
                <a href="${request.fwd_url("website_checkout")}" class="btn btn-primary">Buy Now</a>
                <a href="${request.fwd_url("website_search")}" class="btn">Back to Search</a>
            </div>
        </div>
    </div>
</%def>


<%block name="options">
    options.pageconfig.CART_PAGE = {el: $(".cart-page")};
</%block>