<%inherit file="../layout.html"/>
<%namespace file="larryslist:lib/formlib/templates/baseform.html" name="baseform"/>
<%namespace file="../widgets.html" name="widgets"/>


<%def name="content()">
    <div class="container centered cart-page">
        <div class="row">
            <form class="${view.form.classes}" id="${view.form.id}" method="POST" action="${request.fwd_url("website_purchase")}">
                <div class="span8">
                    ${baseform.prelims(view.form)}
                    <div class="search-results-container standard-frame">
                        <h5 class="box-title inline tinted">Shopping Cart</h5>
                        <div class="search-results-header">
                            <div class="search-column completion">
                                Completion
                            </div><div class="search-column subscribers">
                                Followers
                            </div><div class="search-column rank">
                                Rank
                            </div>
                            <div class="search-column details">
                                Collector
                            </div>
                        </div>
                        <ul class="search-results-body cart-items">
                            <li class="search-placeholder empty">
                                No profiles in cart
                            </li>
                            <li class="show-loading">
                                <img src="${ROOT_STATIC_URL}img/ajax-loader.gif"/>
                            </li>
                        </ul>
                    </div>

                    <div class="cart-buttons">
                        <a href="${request.fwd_url("website_search")}" class="btn">Back to Search</a>
                    </div>
                </div>
                <div class="span4">
                    <div class="standard-box">
                        <h5 class="box-title inline">Proceed</h5>
                        <div class="cart-dropdown-section sidebarbox" data-template="templates/checkout-cart.html">
                            <div class="cart-attach-dropdown">
                                <img src="${ROOT_STATIC_URL}/img/ajax-loader.gif"/>
                            </div>
                            <br/>
                            <div class="flyout-line clearfix">
                                %if not vctxt.cart.canSpend(vctxt.user):
                                    <span class="insufficient-credits">
                                        %if not len(vctxt.cart.getItems()):
                                            No profiles selected yet:
                                            <a href="${request.fwd_url("website_search")}" class="btn btn-primary btn-large wide-button">Search for profiles</a>
                                        %elif not vctxt.user.getCredits():
                                            No credits yet:
                                            <a href="${request.fwd_url("website_checkout")}" class="btn btn-primary btn-large wide-button">Buy credits now</a>
                                        %else:
                                            Not enough credits:
                                            <a href="${request.fwd_url("website_checkout")}" class="btn btn-primary btn-large wide-button">Buy more credits</a>
                                        %endif
                                    </span>
                                %else:
                                    <button type="submit" class="js-spend-credit btn btn-primary btn-large wide-button">Buy now</button>
                                %endif
                            </div>
                        </div>
                        <hr/>
                        <div class="standard-padded-box">
                            <b>This is what you get:</b>
                            <ul>
                                <li>access to profile for 1 year (free updated included)</li>
                                <li>all available information on profile (incl. address, collection, etc.)</li>
                                <li>access from everywhere 24/7</li>
                            </ul>
                        </div>
                    </div>
                    <div class="standard-frame spaced-top">
                        ${widgets.recommendations()}
                    </div>
                </div>
            </form>
        </div>
    </div>
</%def>


<%def name="buildItem(form, pos, item)">
    <li class="search-results-row sortable">
        <div class="search-result-item">
            <input type="hidden" name="${form.id}.Collector-${pos}.id" value="${item.id}"/>
            <span class="marked-checkbox checked"></span>
            <div class="search-column completion">
                <b>${item.completion}%</b>
            </div><div class="search-column subscribers">
                <b>${item.subscribers}</b>
            </div><div class="search-column rank">
                <b>${item.rank}</b>
            </div><div class="search-column details">
            <div class="name">${item.getName()}</div>
            <p class="location">${item.getAddress()}</p>
            <a class="btn btn-primary dismiss" data-entity-id="${item.id}">Deselect</a>
        </div>
            <span class="last-updated">Last updated: ${item.getUpdated()}</span>
        </div>
    </li>
</%def>

<%block name="options">
    options.pageconfig.CART_PAGE = {el: $("#${view.form.id}")};
</%block>
<%block name="scripts">
    <script>
        require(["tools/ajax"], function(ajax){
            ajax.ifyForm({form: $("#${view.form.id}")});
        });
        require(["views/recommendation"], function(View){
            new View({el: $(".recommended-collectors")});
        });
    </script>
</%block>