<%inherit file="../layout.html"/>
<%namespace file="larryslist:lib/formlib/templates/baseform.html" name="baseform"/>
<%namespace file="../widgets.html" name="widgets"/>


<%def name="content()">
    <div class="container centered cart-page">
	<div class="row">
             <h4 class="box-title page-title">Shopping Cart</h4>
  	</div>
        <div class="row">
            <form class="${view.form.classes}" id="${view.form.id}" method="POST" action="${request.fwd_url("website_purchase")}">
                <div class="span8">
                    ${baseform.prelims(view.form)}
                    <div class="search-results-container standard-frame">
                        <div class="search-results-header">
                            <div class="search-column collection">
                                Collection
                            </div><div class="search-column contact">
                                Contact
                            </div><div class="search-column rank">
                                Ranking
                            </div><h4 class="small-title">Collector</h4>
                        </div>
                        <ul id="shopping-cart" class="search-results-body cart-items"><li class="search-placeholder empty">No profiles in cart</li><li class="show-loading"><img src="${ROOT_STATIC_URL}img/ajax-loader-light.gif"/></li></ul>
                    </div>

                    <div class="cart-buttons">
                        <a href="${request.fwd_url("website_search")}" class="btn">Search for profiles</a>
                    </div>
                </div>
                <div class="span4">
                    <div class="standard-box">
                        <div class="cart-dropdown-section sidebarbox" data-template="templates/checkout-cart.html">
			    <h4 class="small-title">Credit balance</h4>
                            <div class="cart-attach-dropdown">
                                <img src="${ROOT_STATIC_URL}/img/ajax-loader-light.gif"/>
                            </div>
                            <br/>
                            <div class="flyout-line clearfix">
                                %if not vctxt.cart.canSpend(vctxt.user):
                                    <span class="insufficient-credits">
                                        %if not len(vctxt.cart.getItems()):
                                            <a href="${request.fwd_url("website_search")}" class="btn btn-primary">Search for profiles</a>
                                        %elif not vctxt.user.getCredits():
                                            <a href="${request.fwd_url("website_checkout_arbiter")}" class="btn btn-primary">Buy credits now</a>
                                        %else:
                                            <a href="${request.fwd_url("website_checkout_arbiter")}" class="btn btn-primary">Buy more credits</a>
                                        %endif
                                    </span>
                                %else:
                                    <button type="submit" class="js-spend-credit btn btn-primary btn-large wide-button">Buy now</button>
                                %endif
                            </div>
                        </div>
                        <hr/>
                        <div class="standard-padded-box">
                            <b>This is what you get:</b>
                            <ul>
                                <li>access to profile for 1 year (free updated included)</li>
                                <li>all available information on profile (incl. address, collection, etc.)</li>
                                <li>access from everywhere 24/7</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>
	<div class="row recommendations-content">
	    <div class="spaced-top">
		${widgets.recommendations()}
	    </div>
	</div>
    </div>
</%def>

<%block name="scripts">
    <script>
        require(["tools/ajax"], function(ajax){
            ajax.ifyForm({form: $("#${view.form.id}")});
        });
        require(["views/cartpage", "views/recommendation"], function(CartPage, View){
            new View({el: $(".recommended-collectors")});
            new CartPage.View({el: $("#${view.form.id}")});
        });
    </script>
</%block>
