<div class="checkbox-row">
<% options = widget.getOptions(request) %>
%for i, option in enumerate(options):
<div class="checkbox-item inline ${'preferred' if option.preferred else ''} ${'last' if len(options) == i+1 else ''}">\
    %if option.preferred:
        <img src="${STATIC_URL}img/preferred_tape.png" class="preferred-tape"/>
    %endif
    <span class="name-label">${option.label}</span>
    <span class="price-band">${option.getFormattedPrice(request)}</span>
    <span class="price-quantity">${option.getCredits()} ${'credits' if option.getCredits() > 1 else 'credit'}</span>
    <ul class="unstyled">
        <li>Access to profile info</li>
        <li>All available information for 1 year</li>
    </ul>
    <span class="checkbox">
        <button type="submit" name="${widget.getName(prefix)}" value="${option.getKey(request)}" class="btn btn-primary">Buy credits</button>
    </span>
    </div>\
%endfor
</div>
