${self.singleArtwork(artwork)|n}
<%def name="singleArtwork(artwork)">
    <div class="single-artwork">
        <span class="artwork-column artwork-title">${artwork['title']|n} ${'({year})'.format(**artwork) if artwork.get('year') else ''|n}</span>
        <span class="artwork-column artwork-medium">${artwork.get('medium', '')}</span>
        <span class="artwork-column artwork-material">${artwork.get('material', '')}</span>
        <span class="artwork-column artwork-dimen">
            ${', '.join([u'{}: {}'.format(k[0], artwork[k]) for k in ['width', 'height', 'depth'] if artwork.get(k)])|n}
            %if len([artwork[k] for k in ['width', 'height', 'depth'] if artwork.get(k)]):
                ${'cm' if artwork.get('measurement') == "METRIC" else 'in'}
            %endif
        </span>
    </div>
</%def>