<%inherit file="layout.html"/>

<%block name="contentbody">
    <div class="padded-body" xmlns="http://www.w3.org/1999/html">
        <ul class="nav nav-tabs">
            %for form in view.getForms():
                <li class="nav-entry ${'active' if view.isFormActive(form) else ''}">
                    %if view.isFormEnabled(form):
                        <a class="nav-entry-link" href="${view.getCollectionLink(stage = form.id)}">${form.label}</a>
                    %else:
                        <span class="nav-entry-link">${form.label}</span>
                    %endif

                </li>
            %endfor
        </ul>
        <div class="tab-content">
                %for form in view.getForms():
                %if view.isFormEnabled(form):
                        <div class="tab-pane ${'active' if view.isFormActive(form) else ''}" id="wrap-${form.id}">
                        ${self.buildForm(form, values.get(form.id), errors.get(form.id))}
                        </div>
                %endif
                %endfor
        </div>
    </div>
</%block>

<%def name="buildForm(form, values, errors)">
    <form class="${form.classes}" id="${form.id}" method="post">
        <input type="hidden" name="type" value="${form.id}"/>
        <input type="hidden" name="furl" value="${request.furl}"/>
        <input type="hidden" name="token" value="${request.session.get_csrf_token()}"/>

        %for field in form.fields:
            ${field.render(form.id, request, values, errors, view)|n}
        %endfor
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</%def>

<%block name="scripts">
    <script>
    require(["views/forms"], function(View){
        $(".content-body").find(".form-validated").each(function(idx, form){
            new View({el:form})
        });
    });
    </script>
</%block>