<%inherit file="layout.html"/>


<%block name="contentbody">
    <ul class="nav nav-tabs">
        %for form in view.getForms():
            %if form.isShown(request, view, vctxt.user):
                <li class="nav-entry ${'active' if view.isActive(form) else ''}">
                    %if form.isEnabled(request, view, vctxt.user):
                        <a class="nav-entry-link" href="${form.getLink(request, view, vctxt.user)}">${form.label}</a>
                    %else:
                        <span class="nav-entry-link">${form.label}</span>
                    %endif
                </li>
            %endif
        %endfor
        <li class="nav-entry pull-right">
            ${self.switchCollectorLink(view.collector)}
        </li>
    </ul>
    ${self.buildBody(view.activeForm, values, errors)}
</%block>

<%def name="buildBody(form, values, errors)">
    <form class="${form.classes}" id="${form.id}" method="post">\
        <input type="hidden" name="type" value="${form.id}"/>
        <input type="hidden" name="furl" value="${request.furl}"/>
        <input type="hidden" name="token" value="${request.session.get_csrf_token()}"/>
        ${self.buildTabContent(form, values.get(form.id), errors.get(form.id))}
        ${self.sourcesForm(form, *view.getSourceValues())}
    </form>
</%def>

<%def name="sourcesForm(form, values, errors)">
    <div class="fixed-appendix">
        <div class="form-actions affixed">
            <div class="data-dirty-notice label-important"><span class="icon-exclamation-sign"></span> The form contains unsaved data!</div>
            <div class="data-saved-notice label-success"><span>✔</span> Changes saved!</div>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
        <div class="sources-form">
            %for f in form.extra_forms:
                <div class="${f.classes}">
                    <legend>${f.label}</legend>
                    %for field in f.fields:
                        ${field.render("{}.{}".format(form.id, f.id), request, values, errors, view)|n}
                    %endfor
                </div>
            %endfor
        </div>
    </div>
</%def>

<%def name="buildTabContent(form, values, errors)">
    <div class="tab-content fixed-height">
        <div class="fixed-height-content tab-pane active" id="wrap-${form.id}">
            <div class="label-legend">
                Fields:
                <span class="required"> Mandatory</span>
                /
                <span class="important"> Important</span>
            </div>

            %for field in form.fields:
                   ${field.render(form.id, request, values, errors, view)|n}
            %endfor
        </div>
    </div>
</%def>





<%block name="scripts">
    <script>
        require(["views/forms"], function(View){
            $(".content-body").find(".form-validated").each(function(idx, form){
                new View({el:form})
            });
        });
        hnc.Config = ${vctxt.configJSON()|n};
    </script>
</%block>
