<%inherit file="../layout.html"/>

<%def name="contentStatusImpl()">
    <div class="content-status">
        %if view.collector:
            <b class="label">${view.collector.getStatusLabel()}</b>
            <br/>
            <br/>
            <form action="${request.fwd_url("admin_collector_status", collectorId = view.collector.id)}" method="post">
                %if view.collector.canSubmitforReview(vctxt.user):
                    <button type="submit" name="status" value="SUBMIT" class="btn">Submit for Review</button>
                %elif view.collector.canReview(vctxt.user):
                    <button type="submit" name="status" value="APPROVE" class="btn">Approve</button>
                %elif vctxt.user.isAdmin():
                    <button type="submit" name="status" value="DEACTIVATE" class="btn">Set Inactive</button>
                %endif
            </form>
        %else:
            Not Created
        %endif
    </div>
</%def>

<%def name="contentMenuImpl()">
    <div class="menu-heading">
        %if view.collector:
            ${view.collector.getName()}
        %else:
            Collector
        %endif
    </div>
    <ul class="nav nav-list">
        ${self.menuLink("Personal Details", "icon-user", view.getCollectorLink, startswith="admin_collector_")}
        ${self.menuLink("Collection", "icon-picture", view.getCollectionLink, startswith="admin_collection_")}
    </ul>
</%def>




<%def name="switchCollectorLink(collector)">
    %if collector:
            %if collector.Collection:
            <div class="nav-entry-link">
                <% lc = collector.LinkedCollector %>
                %if lc:
                    Linked: <a href="${request.fwd_url("admin_collector_edit", collectorId = lc.id, stage = 'basic')}">${lc.getName()}</a>
                %else:
                    <a href="${request.fwd_url("admin_collector_add_collector", collectorId = collector.id)}">Add a linked collector</a>
                %endif
            </div>
            %endif
    %else:
        <div class="nav-entry-link">Add collector</div>
    %endif
</%def>

