<%inherit file="../layout.html"/>

<%def name="contentStatusImpl()">
    <div class="content-status">
        <h4>Status</h4>
    </div>
</%def>

<%def name="contentMenuImpl()">
    <div class="menu-heading">
        %if view.collector:
            ${view.collector.getName()}
        %else:
            Collector
        %endif
    </div>
    <ul class="nav nav-list">
        ${self.menuLink("Personal Details", "icon-user", view.getCollectorLink, startswith="admin_collector_")}
        ${self.menuLink("Collection", "icon-picture", view.getCollectionLink, startswith="admin_collection_")}
        ${self.menuLink("Art Engagement", "icon-calendar")}
        ${self.menuLink("Media Recognition", "icon-signal")}
        ${self.menuLink("Other Facts", "icon-arrow-right")}
        <div class="divider"></div>
        %if view.collector:
            ${self.menuLink("Uploads", "icon-paper-clip", "admin_document_upload", collectorId = view.collector.id)}
            ${self.menuLink("News", "icon-align-left")}
            ${self.menuLink("Interaction", "icon-refresh")}
        %else:
            ${self.menuLink("Uploads", "icon-paper-clip")}
            ${self.menuLink("News", "icon-align-left")}
            ${self.menuLink("Interaction", "icon-refresh")}
        %endif
    </ul>
</%def>




<%def name="switchCollectorLink(collector)">
    %if collector:
            %if collector.Collection:
            <div class="nav-entry-link">
                <% lc = collector.LinkedCollector %>
                %if lc:
                    Linked collector: <a href="${request.fwd_url("admin_collector_edit", collectorId = lc.id, stage = 'basic')}">${lc.getName()}</a>
                %else:
                    <a href="${request.fwd_url("admin_collector_add_collector", collectorId = collector.id)}">Add a linked collector</a>
                %endif
            </div>
            %endif
    %else:
        <div class="nav-entry-link">Add collector</div>
    %endif
</%def>

