<li class="search-results-row sortable mini">
    <div class="search-column details">
        <div class="name">{{ model.getName() }}</div>
        <p class="location">{{ model.getAddress() }}</p>
    </div>
    <div class="right-col collector-stats">
        <div class="search-column rank">
            <b class="value">{{ model.get("rank") }}</b>
            <small class="caption">Rank</small>
        </div>
        <div class="search-column subscribers">
            <b class="value">{{ model.get("subscribers") }}</b>
            <small class="caption">Followers</small>
        </div>
        <div class="search-column completion">
            <b class="value">{{ model.get("completion") }}%</b>
            <small class="caption">Completion</small>
        </div>
    </div>
</li>
