<li class="search-results-row sortable mini">
    <div class="search-column details">
        <div class="name">{{ model.getName() }}</div>
        <p class="location">{{ model.getAddress() }}</p>
    </div>
    <div class="right-col">
        <div class="search-column rank">
            <b>{{ model.get("rank") }}</b>
            <small>Rank</small>
        </div>
        <div class="search-column subscribers">
            <b>{{ model.get("subscribers") }}</b>
            <small>Followers</small>
        </div>
        <div class="search-column completion">
            <b>{{ model.get("completion") }}%</b>
            <small>Completion</small>
        </div>
    </div>
</li>
