<div class="filter-section {{ expandable?'expandable':'' }}">
    <div class="section-header" {{ expandable?'data-toggle-class="expanded" data-toggle-target=".filter-section.expandable"':'' }}>
        <span class="expander"></span>
        <div class="section-header-text"> {{ title }}</div>
    </div>
    <div class="section-body">
        <div class="filter-list"></div>
        {% if(hasMore){ %}
            <a class="show-more"><span class="show-more-icon"></span>show more</a>
            <a class="show-less hide"><span class="show-less-icon"></span>show less</a>
            <div class="type-ahead-field"><div class="search-field"><input type="text" class="input-fullwidth query" autocomplete="off"/></div></div>
        {% } %}
    </div>
</div>