<li class="search-results-row sortable selectable">
    <div class="search-result-item">
        <div class="search-column collection">
            <span class="profile-icon {{ model.getCollectionCSS() }}"></span>
        </div><div class="search-column contact">
            <span class="profile-icon {{ model.getContactCSS() }}"></span>
        </div><div class="search-column rank">
            <b>{{ model.getRank() }}</b>
        </div><div class="search-column picture">
        </div><div class="search-column details">
            <h4 class="name highlight">{{ model.getName() }}</h4>
            <p class="location">{{ model.getAddress() }}</p>
            <a class="btn btn-primary" data-text-selected="Buy" data-text-unselected="Deselect">{{ inCart?'Deselect':'Buy' }}</a>
        </div>
        <span class="last-updated">Last updated: {{ model.getLastUpdated() }}</span>
    </div>
</li>
