<li class="search-results-row sortable owned">
    <div class="search-result-item">
        <div class="search-column picture">
            <img class="collector-picture" src="{{ model.getPicture() }}" />
        </div><div class="search-column collection">
            <span class="profile-icon {{ model.getCollectionCSS() }}"></span>
        </div><div class="search-column contact">
            <span class="profile-icon {{ model.getContactCSS() }}"></span>
        </div><div class="search-column rank">
            <b class="profile-rank">{{ model.getRank() }}</b><small class="profile-points"> ({{ model.getPoints() }})</small>
        </div><div class="search-column details">
            <h4 class="name">{{ model.getFullName() }}</h4>
            <p class="location">{{ model.getAddress() }}</p>
            <a class="btn">View</a>
        </div>
        <span class="last-updated">Last updated: {{ model.getLastUpdated() }}</span>
    </div>
</li>
