<li class="search-results-row sortable mini">
    <div class="search-column details">
        <div class="name">{{ model.getName() }}</div>
        <p class="location">{{ model.getAddress() }}</p>
        <a class="btn btn-primary" data-text-selected="Select" data-text-unselected="Deselect">{{ inCart?'Deselect':'Select' }}</a>
    </div>
    <div class="right-col collector-stats">
        <div class="search-column rank">
            <div class="value"><b class="profile-rank">{{ model.getRank() }}</b><small class="profile-points"> ({{ model.getPoints() }})</small></div>
            <small class="caption">Ranking</small>
        </div>
        <div class="search-column contact">
            <span class="value mini profile-icon {{ model.getContactCSS() }}"></span>
            <small class="caption">Contact</small>
        </div>
        <div class="search-column collection">
            <span class="value mini profile-icon {{ model.getCollectionCSS() }}"></span>
            <small class="caption">Collection</small>
        </div>
    </div>
</li>
