<li class="search-results-row sortable mini">
    <div class="search-column details">
        <div class="name">{{ model.getName() }}</div>
        <p class="location">{{ model.getAddress() }}</p>
        <a class="btn btn-primary" data-text-selected="Select" data-text-unselected="Deselect">{{ inCart?'Deselect':'Select' }}</a>
    </div>
    <div class="right-col collector-stats">
        <div class="search-column rank">
            <b>{{ model.getRank() }}</b>
            <small>Rank</small>
        </div>
        <div class="search-column subscribers">
            <b>{{ model.get("subscribers") }}</b>
            <small>Followers</small>
        </div>
        <div class="search-column completion">
            <b>{{ model.getCompletion() }}</b>
            <small>Completion</small>
        </div>
    </div>
</li>
