<li class="search-results-row sortable">
    <div class="search-column picture">
        <img src="{{ model.getPicture() }}"/>
    </div><div class="search-column completion">
        {{ model.get("completion") }}%
    </div><div class="search-column subscribers">
        {{ model.get("subscribers") }}
    </div><div class="search-column rank">
        {{ model.get("rank") }}
    </div><div class="search-column details">
        {{ model.getName() }}
        <p>{{ model.getAddress() }}</p>
    </div>
</li>
