</div>
<div class="span3">
    <div class="checkout-sidebar"><h4 class="box-title">Questions?</h4>

        <div class="accordion" id="faq-accordion">
            <div class="accordion-group">
                <div class="accordion-heading"><a class="accordion-toggle " data-parent="#faq-accordion"
                                                  href="#what-do-i-get" onclick="function(){ return false; }"> <span
                        class="faq-arrow"></span>What do I get? </a></div>
                <div id="what-do-i-get" class="accordion-body collapse in">
                    <div class="accordion-inner"> We compiled detailed information on leading art collectors around the
                        world. Profile’s completeness can vary depending on the information available. It can include
                        contact details, information on artists in collection, type of art engagements and personal
                        information.
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading"><a class="accordion-toggle" onclick="function(){ return false; }"
                                                  href="#why-payment-data"> <span class="faq-arrow"></span>Are you
                    complying with data privacy standards? </a></div>
                <div id="why-payment-data" class="accordion-body collapse ">
                    <div class="accordion-inner"> Yes. We only compile information that is also publicly available on
                        accessible sources such as magazines, internet etc.
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading"><a class="accordion-toggle" onclick="function(){ return false; }"
                                                  href="#what-if-no-like"> <span class="faq-arrow"></span>For how long
                    can I access the profile? </a></div>
                <div id="what-if-no-like" class="accordion-body collapse ">
                    <div class="accordion-inner"> You can access it for one year.</div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading"><a class="accordion-toggle" onclick="function(){ return false; }"
                                                  href="#larryslist-is-safe"> <span class="faq-arrow"></span>How long
                    are my credits valid? </a></div>
                <div id="larryslist-is-safe" class="accordion-body collapse ">
                    <div class="accordion-inner"> Credits don’t have an expiry date. You can use them anytime and also
                        top-up your credits anytime.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></div></div></form>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="span2"><h4>About</h4>
                <ul class="unstyled">
                    <li><a href="http://www.larryslist.de#what-you-get" class="footer-link">What you get</a></li>
                    <li><a href="http://www.larryslist.de#pricing" class="footer-link">Pricing</a></li>
                    <li><a href="http://www.larryslist.de#ranking" class="footer-link">Collector Ranking</a></li>
                    <li><a href="http://www.larryslist.de#data-sources" class="footer-link">Data Sources</a></li>
                    <li><a href="http://www.larryslist.de#who-is-larry" class="footer-link">Who is Larry?</a></li>
                </ul>
            </div>
            <div class="span2"><h4>Services</h4>
                <ul class="unstyled">
                    <li><a href="//78.47.55.182" class="footer-link">Blog</a></li>
                    <li><a href="http://www.larryslist.de/collector-report" class="footer-link">Collector Report</a>
                    </li>
                </ul>
            </div>
            <div class="span2"><h4>Info</h4>
                <ul class="unstyled">
                    <li><a href="http://www.larryslist.de/faq" class="footer-link">FAQ</a></li>
                    <a href="http://www.larryslist.de/careers" class="footer-link">Career</a>
                    <li><a href="http://www.larryslist.de/privacy" class="footer-link">Privacy</a></li>
                    <a href="http://www.larryslist.de/impressum" class="footer-link">Impressum</a></ul>
            </div>
            <div class="span2"><h4>Corporate</h4>
                <ul class="unstyled">
                    <li><a href="http://www.larryslist.de/press" class="footer-link">Press</a></li>
                    <li><a href="http://www.larryslist.de/contact" class="footer-link">Contact</a></li>
                    <li><a href="http://www.larryslist.de/terms" class="footer-link">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="span4">                    <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                    <form action="http://larrylist.us6.list-manage.com/subscribe/post?u=864162daef&id=708c4879f8"
                          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                          class="validate" novalidate><label class="mail-chimp-header" for="mce-EMAIL">Newsletter
                        sign-up</label> <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL"
                                               placeholder="Type in your email address" required>
                        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">Go
                        </button>
                    </form>
                </div>
                <!--End mc_embed_signup-->                </div>
        </div>
    </div>
</div>
<form>