<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<head>
		<link rel="stylesheet" type="text/css" href="https://secure-test.worldpay.com/i/301925/stylesheet.css">
	</head>
<BODY>
<div class="navbar">
<div class="navbar-inner">
    <div class="container">
        <a class="brand" href="http://www.larryslist.com?refresh=1">Larry's List</a>
    </div>
</div>
</div>

<div class="container"><div class="row">
<div class="funnel-header">
	<ul class="inline">
	    <li><b>1</b><span>Choose your price plan</span><i></i></li>
   	    <li><b>2</b><span>Payment Method</span><i></i></li>
	    <li class="selected"><b>3</b><span>Order Review</span><i></i></li>
	</ul>
</div>
</div></div>

<div id="pmcontent" class="container">
    <div class="row">
        <div class="span12">
            <WPDISPLAY ITEM=banner>

            <div class="center">
            <a class="btn btn-primary" href="http://www.larryslist.com/payment/done?refresh=1"
            style="text-align: center;margin-top: 25px;display: inline-block;font-size: 2em;line-height: 1em;padding: 10px 20px;font-weight: normal;border-radius: 10px;">
            View your Profiles</a>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="row">
                <div class="span2">
                    <h4>About</h4>
                    <ul class="unstyled">
                        <li><a href="http://www.larryslist.com#what-you-get" class="footer-link">What you get</a></li>
                        <li><a href="http://www.larryslist.com#pricing" class="footer-link">Pricing</a></li>
                        <li><a href="http://www.larryslist.com#ranking" class="footer-link">Collector Ranking</a></li>
                        <li><a href="http://www.larryslist.com#data-sources" class="footer-link">Data Sources</a></li>
                        <li><a href="http://www.larryslist.com#who-is-larry" class="footer-link">Who is Larry?</a></li>
                    </ul>
                </div>
                <div class="span2">
                    <h4>Services</h4>
                    <ul class="unstyled">
                        <li><a href="//78.47.55.182" class="footer-link">Blog</a></li>
                        <li><a href="http://www.larryslist.com/collector-report" class="footer-link">Collector Report</a></li>
                    </ul>
                </div>
                <div class="span2">
                    <h4>Info</h4>
                    <ul class="unstyled">
                        <li><a href="http://www.larryslist.com/faq" class="footer-link">FAQ</a></li>
                        <a href="http://www.larryslist.com/careers" class="footer-link">Career</a>
                        <li><a href="http://www.larryslist.com/privacy" class="footer-link">Privacy</a></li>
                        <a href="http://www.larryslist.com/impressum" class="footer-link">Impressum</a>
                    </ul>
                </div>
                <div class="span2">
                    <h4>Corporate</h4>
                    <ul class="unstyled">
                        <li><a href="http://www.larryslist.com/press" class="footer-link">Press</a></li>
                        <li><a href="http://www.larryslist.com/contact" class="footer-link">Contact</a></li>
                        <li><a href="http://www.larryslist.com/terms" class="footer-link">Terms & Conditions</a></li>
                    </ul>
                </div>
                <div class="span4">
                    <!-- Begin MailChimp Signup Form -->
                    <div id="mc_embed_signup">
                        <form action="http://larrylist.us6.list-manage.com/subscribe/post?u=864162daef&amp;id=708c4879f8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
                            <label class="mail-chimp-header" for="mce-EMAIL">Newsletter sign-up</label>
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Type in your email address" required><button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">Go</button>
                        </form>
                    </div>
                    <!--End mc_embed_signup-->
                </div>
        </div>
    </div>
</div>
</BODY>
</HTML>