<%inherit file="../layout.html"/>
<%namespace file="larryslist:lib/formlib/templates/baseform.html" name="baseform"/>


<%def name="content()">
    <div class="container centered auth-page">
        <div class="row">
            <div class="span12">
                <h4 class="box-title">${view.form.label}</h4>
            </div>
            <div class="span12">
                <div class="form-fields">
                    ${self.buildForm(view.form, values.get(view.form.id, {}), errors.get(view.form.id, {}))}
                </div>
            </div>
        </div>
    </div>
</%def>

<%def name="buildForm(form, values, errors)">
    <form class="${form.classes}" method="post" id="${form.id}">
        ${baseform.prelims(form)}
        %for field in form.fields:
            ${field.render(form.id, request, values, errors, view)|n}
        %endfor
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">${form.action_label}</button>
        </div>
    </form>
</%def>

<%block name="scripts">
    <script>
        require(["tools/ajax"], function(ajax){
            $(".auth-page").find(".form-validated").each(function(idx, el){
                ajax.ifyForm({form: $(el)});
            });
        })
    </script>
</%block>
