<%namespace file="larryslist:lib/formlib/templates/baseform.html" name="baseform"/>
<div class="modal popup-modal password-forgot hide">
    <form class="${view.form.classes}" method="post" id="password-forgot-inline-form" action="${request.fwd_url("website_password")}">
        ${baseform.prelims(view.form)}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Request password reset</h3>
        </div>
        <div class="modal-body">
            ${self.buildForm(view.form, values.get(view.form.id, {}), errors.get(view.form.id, {}))}
        </div>
        <div class="form-actions modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="submit" class="btn btn-warning resend-button hide" name="${view.form.id}.isResend" value="true">Resend</button>
            <a href="#" data-dismiss="modal" class="btn">Cancel</a>
        </div>
    </form>
</div>

<%def name="buildForm(form, values, errors)">
    %for field in form.fields:
        ${field.render(form.id, request, values, errors, view)|n}
    %endfor
</%def>