
.cart-total {
  .background-image("../img/cart.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 56px;
  height:30px;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  color: @linkColor;
}
.cart-flyout {
  position: absolute;
  right:-190px;
  width: 150px;
  top: 0;
  padding: 10px;
  border: 1px solid #eee;
  .box-shadow(0 0 3px rgba(0,0,0,.3));
  .transition(~'top .4s ease-in-out, opacity .4s ease-in-out');
  &.invisi {.opacity(0);}
}



.cart-page {
  .search-results-body, .search-results-header {
    padding:  0 30px;
  }
  .search-column.picture {
    text-align: left;
    margin: 0;
  }
  .cart-buttons {
    padding: 30px 0;
  }
}
.cart-attach-dropdown {
  .flyout-line {margin: 5px 10px;min-width: 150px;}
  .btn.btn-primary {margin-top:10px;}
}




.checkbox-row {
  padding: 0 0 10px;
}
.checkbox-item.inline {
  display: inline-block;
  width: 33%;
  padding: 40px 20px 20px;
  box-sizing: border-box;
  text-align: center;
  #gradient > .vertical(#fff, #eee);
  position: relative;
  box-shadow: 0 0 3px rgba(0,0,0,.4);
  vertical-align: top;
  .checkbox {
    display: block;
    text-align: center;
    padding: 0;
  }
  &.preferred {
    background: @linkColor;
    color: white;
    top: -10px;
    padding-top:50px;
    padding-bottom:30px;
    hr {border-color:white;}
  }
  .preferred-tape {
    position: absolute;
    top: -3px;
    right: -5px;
  }
}
.explanation-row {
  .standard-box;
  padding: 20px 20%;
  box-shadow: 0 0 3px rgba(0,0,0,.4);
  .modal-button {
    text-align: center;
  }
}
.recommendation-icons{
  margin: 0;
  text-align: left;
}


.checkout-options-modal {
  .price {font-size: 2em;}
  .period {font-size: 1.3em;}
  .quantity {display: block; text-transform: uppercase;}
  .text {display: block;font-size: .8em;}
  .saved-amount {display: block; font-size: 1.5em;}
  .highlight {
    color: @linkColor;
    font-size: 1em;
    margin: 0;
  }
  hr{
    border-color: black;
    border-bottom: 0px solid transparent;
    margin: 10px 0;
  }
}