.cart-total {
  display: inline-block;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
  font-size: @largeFontSize;
  line-height:16px;
  vertical-align: top;
  color: @linkColor;
}
.cart-icon{
  display: inline-block;
  .background-image("../img/sprites.png");
  background-position: -48px -32px;
  background-repeat: no-repeat;
  width: 16px;
  height:16px;
  margin: 0px 5px;
}
.cart-flyout {
  position: absolute;
  right:0;
  width: 200px;
  top: 0;
  padding: 10px;
  border: 1px solid #eee;
  border-radius:10px;
  background-color: @dropdownBackground;
  .box-shadow(0 3px 6px rgba(0,0,0,.3));
  .transition(~'background-color .1s ease-in-out, top .4s ease-in-out, opacity .4s ease-in-out');
  &.invisi {.opacity(0);}

  &:before {
    content: '';
    display: inline-block;
    border-left: 15px solid #fff;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    position: absolute;
    top: 15px;
    left: -3px;
  }
}
::-webkit-scrollbar {     width: 12px; }
::-webkit-scrollbar-track {     -webkit-box-shadow: inset 0 0 6px rgba(8,8,8,0.3);      border-radius: 10px; }
::-webkit-scrollbar-thumb {     border-radius: 10px;     -webkit-box-shadow: inset 0 0 6px rgba(8,8,8,0.5); 
}

.cart-page {
  .search-results-header {
    border-top:0;
    border-bottom: 0;
  }
  .search-results-body {
    scrollbar-face-color: #000000; 
    scrollbar-shadow-color: #2D2C4D; 
    scrollbar-highlight-color:#7D7E94; 
    scrollbar-3dlight-color: #7D7E94; 
    scrollbar-darkshadow-color: #2D2C4D; 
    scrollbar-track-color: #7D7E94; 
    scrollbar-arrow-color: #C1C1D1; 
      }
  .search-column.picture {
    text-align: left;
    margin: 0;
  }
  .cart-buttons {
    padding: 30px 0;
  }

  .selected .search-result-item {
    border-color: transparent;
    background: transparent;
  }
  .flyout-line {color: @textColor;padding: 0 10px;}
  .box-title{
    border-bottom: 0;
    text-align: center;
    font-size: 28px;
  }
}


.cart-attach-dropdown {
  padding: 10px 0px;

  .flyout-line{
     margin: 0;
  }

  .flyout-line > b{
    min-width: 0;
  }
}
.cart-page .standard-box hr{
  border-color: #ff0000;
  border-bottom: 0;	
  margin-top: 35px;
}
.flyout-line {
  margin: 5px 0;min-width: 200px;color:white;
  vertical-align: bottom;
  > b {
    font-size: 20px;
    line-height:10px;
    display: inline-block;
    min-width: 30px;
    text-align: right;
    margin-right: 5px;
    line-height: 20px;
  }
  .btn {
    margin: 0;
  }

}

/* ============================ option select page ======================= */

.payment-plans {
  margin: 30px 30px 0;
}

.checkbox-row {
  padding: 0 0 10px;
}
.checkbox-item.inline {
  display: inline-block;
  width: 32%;
  margin-right:1%;
  padding: 20px 20px 10px;
  box-sizing: border-box;
  text-align: center;
  #gradient > .vertical(#fff, #eee);
  position: relative;
  box-shadow: 0 0 3px rgba(0,0,0,.4);
  vertical-align: top;
  .box-sizing(border-box);
  .checkbox {
    display: block;
    text-align: center;
    padding: 0;
    margin: 20px 0;
  }
  &.preferred {
    background-color: #4a4a4a;
    background: #4a4a4a;
    filter: none;
    color: white;
    top: -20px;
    width: 34%;
    padding-top:40px;
    padding-bottom:30px;
    .price-band {background-color: @linkColor;}
  }
  .preferred-tape {
    position: absolute;
    top: -3px;
    right: -5px;
  }
  &.last {margin-right:0;}
  .name-label {display: block;font-family: @headingsFontFamily;font-size:2em;padding: 20px 0 30px;}
  .text {display: block;font-size: .8em;}
  .price-band {font-size: 4em;line-height:2em;font-weight:normal;display: block;background-color:#4a4a4a;color:white;margin:10px -20px;.box-shadow(0 2px 3px rgba(0,0,0,.2));}
  .price-quantity {font-size: 3em;line-height:2em;font-weight: 300;}
  .saved-amount {display: block; font-size: 1.5em;font-weight:bold;}
  .saved-amount.total {color: #009d04;}
}

.explanation-row {
  .standard-box;
  .modal-button {
    text-align: center;
  }
}
.recommendation-icons{
  margin: 0;
  text-align: left;
  border-top:  1px solid #ddd;
  padding:  15px 30px;
}

.cart-page{
	.recommendations-content{
	  border-top:  1px solid #ff0000;
	  overflow: hidden;
	}
	.small-title{
	  padding-top: 5px;
	  font-family: "OpenSans","Helvetica Neue",sans-serif; 
	  font-size: 13px;
	  text-align: left;
	  font-weight: bold;
	}
	.page-title{
	  margin-bottom: 35px;
	}
}
.recommended-collectors{
  margin-top: 15px;
  overflow: hidden;

  .search-results-row{
    float: left;
    width: 280px:
    padding: 5px 23px !important;
    border-right: 1px solid #ccc;
    border-top: 0;
    clear: none;
    border-top: 0 !important;
  }
  .search-results-row.mini.selected{
    display: none;
  }
}
.recommended-collectors.vertical{
  min-height: 100px;
  height: 100px;
}

// ====================== CHECKOUT ==========================
.checkout-head-row {
  margin-bottom:30px;
  > .span3 {
    min-height:270px;
  }
}
.checkout-options-modal {
  .highlight {
    margin: 0;
  }
}

.checkout-sidebar {
  .box-shadow(0 0 3px rgba(0,0,0,.4));
  .accordion {
    margin-bottom: @baseLineHeight;
  }
  .accordion-group {
    margin-bottom: 2px;
  }
  .accordion-heading {
    .accordion-toggle {
      display: block;
      padding:8px 15px 8px 35px;
      color:@textColor;
      line-height: 1em;
    }
  }
  .accordion-inner {padding: 0px 15px 15px 35px;}
  .faq-arrow {
    .background-image("../img/faqicons.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 16px;
    height: 15px;
    display: block;
    float: left;
    margin-left: -22px;
  }
  .collapsed .faq-arrow {
    background-position: 0 -15px;
  }
}
.collector-mini-line {
  .text-overflow();
  line-height: 1.2em;
}

.insufficient-credits {margin-right:25px;}

.link-box {
  padding-bottom: 30px;
  position: relative;
  .bottom-box-link {
    position: absolute;
    bottom:  10px;
    font-size: .9em;
  }
}
