.collector-card {
  padding:  15px;
  .clearfix;

  .text {line-height:1em;}

  .collector-details {
    margin-left:135px;
    > h3 {margin: 0;line-height:1em;}
  }

  .collector-picture-big {
    width:  120px;
    height: 120px;
    overflow: hidden;
    float:left;
  }
  small.heading {margin-top:10px;color: #999;font-size: .8em;}
  .collector-stats {width: 30%; margin-bottom:-15px;}
  .search-column {
    margin-bottom: 15px;
    > .value {font-size: 1.5em;}
  }
  .last-updated {
    float: left;
    margin-top: 0;
    font-size: .7em;
    line-height: 1em;
  }
}

.collector-details-card {
  margin-bottom:15px;
  .standard-box;
  .clearfix;
  .card-title {
    #gradient > .vertical(#333, #636363);
    margin: 0;
    color: white;
    padding: 5px 15px;
    float:left;
  }


  .line {
    clear: both;
    padding: 5px 20px;
  }
  .key {
    width: 15%;
    float: left;
    font-size:.7em;
    color: #666;
  }
  .value {
    margin-left:16%;
  }

}