.text-overflow {
  display: block;
  .text-overflow();
}

.collector-tabs.nav-tabs {
  margin:  20px 0;
  #gradient > .vertical(#ebebed, #f3f3f5);
  .box-shadow(none);
  > .nav-entry > .nav-entry-link {
    font-size: 16px;
    line-height:50px;
  }
}



.collector-card {
  margin-bottom:60px;
  vertical-align: top;
}
.collector-picture-card {
  padding:  15px;
  margin-bottom:15px;
  border-top: 1px solid @linkColor;
  border-bottom: 1px solid @linkColor;
  .clearfix;

  .text {line-height:1em;}

  .collector-details {
    margin-left:135px;
    > h3 {margin: 0;line-height:1em;}
  }

  .collector-picture-big {
    width:  120px;
    height: 120px;
    overflow: hidden;
    float:left;
  }
  .collector-stats {width: 40%; margin-bottom:-15px;}
  .search-column {
    margin-bottom: 15px;
    > .value {margin-left: 10px;}
  }
}

.genre-list {
  .caption {
    float:right;
    margin-right:15px;
  }
  .heading {
    color: #999;
    float: left;
    width: 135px;
    text-align: right;
    margin-right: 10px;
    text-transform: uppercase;
    font-size:10px;
  }
  .text {margin-left:150px;font-weight:bold;width:50%;}
}


.collector-details-cards {background-color: @navbarBackground;padding-bottom: 30px;margin-bottom: 30px;}
.collector-details-card {
  .clearfix;
  &.recommended-collectors-card {
    .card-title {margin-top:10px;}
    margin-top:20px;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    background-color: @white;
    min-height:181px;
  }
  .card-title {
    margin: 30px 20px 0;
    padding: 10px 0;
    border-bottom: 1px solid @linkColor;
  }
  .card-content {padding-bottom: 10px;.clearfix;clear: both;padding-top: 15px;}
  .multi-column {
    .clearfix;
    >li {
      float:left;
      width: 33%;
      margin-bottom:8px;
      line-height:1em;
      >div {padding-bottom:5px;}
      > a {line-height:1.2em;}
    }

    >li.single-artwork {
      min-height:150px;
      width: 22%;
      margin-right:3%;
    }
  }

  .line {
    clear: both;
    padding: 2px 20px;
    &.extra-long> .key {width: 200px;}
    &.extra-long> .value {margin-left: 220px;}
  }
  .key {
    width: 120px;
    float: left;
    font-size:@smallFontSize;
    color: #666;
    line-height: 1.1em;
    padding-top: 6px;
  }
  .value {
    margin-left:140px;
  }
  .multi-column-line {
    .clearfix;
    clear:both;
    .line {
      width: 29%;
      float: left;
      clear: none;
      .key {width: 80px;text-align: right;}
      .value {margin-left: 100px;}
    }
  }

  .social-media {
    display: inline-block;
    line-height:30px;
    margin-right:10px;
    &.icon {
      width: 30px;
      height: 30px;
      .background-image("../img/social_media.png");
      text-indent: -999em;
      overflow: hidden;
    }
    &.icon-facebook {background-position: -4px -10px;}
    &.icon-twitter {background-position: -38px -10px;}
    &.icon-xing {background-position: -72px -10px;}
    &.icon-linkedin {background-position: -140px -10px;}
    &.icon-renren {background-position: -174px -10px;}
    &.icon-weibo {background-position: -208px -10px;}
  }
  .address-line {
    float:left;
    width:100%;
  }
  .address-value + .address-value {
    margin-top  : 20px;
  }
  .first-col-value {
    width: 50%;
    float:left;
    + .address-value {
      float:left;
      width: 50%;
      margin-top:-2px;
    }
  }

  .single-museum {
    clear:both;
    .clearfix;
    + .single-museum {margin-top: 30px;}
  }
}