.wide-button {
  width: 100%;
  .box-sizing(border-box);
}
.label-spacealike {
  width: 160px;
  display: block;
  text-align: right;
}
.control-group.required .control-label:after {
  content:"*";
}

.dropdown-menu {
  .control-group.error .control-label, .control-group.error .help-block, .control-group.error .help-inline {
    color: rgb(211, 102, 100);
  }
}
.navbar .nav > li > .dropdown-menu{
  padding: 10px;
}

.form-fields {
  background: #f8f8f8;
  padding-top: 30px;
  padding-bottom: 30px;
}
.form-fields-inner {
  min-height: 200px;
}

.auth-page{
  .form-horizontal{
     .empty-label,
     .control-label {
	text-align: left;
	width: 130px;
	float: left;
     }
     .empty-label{
	margin-right: 20px;
     }
     .controls {
	margin-left: 0;

	.input-large {
		width: 265px;
	}
     }
     p.buttons {
       text-align: right;

       .btn-large{
	  padding: 7px 40px;
       }
     }

  }
  .left-column{
     border-right: 1px solid #000;
     width: 459px;
  }
  #login p.buttons{
	margin-top: 44px;
  }

}
