.wide-button {
  width: 100%;
  .box-sizing(border-box);
}
.label-spacealike {
  width: 160px;
  display: block;
  text-align: right;
}
.control-group.required .control-label:after {
  content:"*";
}

.dropdown-menu {
  .control-group.error .control-label, .control-group.error .help-block, .control-group.error .help-inline {
    color: rgb(211, 102, 100);
  }
}

.form-fields {
  background: #f8f8f8;
  padding-top: 30px;
  padding-bottom: 30px;
}
.form-fields-inner {
  min-height: 200px;
}