
#login-pull-down-form button {
  background:none;
  border:none;
  tex-shadow:none;
  border-radius:0;
  box-shadow:none;
}

.index-page {
  .control-group {
    vertical-align: top;
    &.first {padding: 15px 0px 15px 25px; input {width: 100%;}}
    &.last {padding: 15px 25px 15px 0px;}
  }
  input {
    margin:0;
    width: 75%;
    height: 30px;
    .box-sizing(border-box);
  }
  .btn {
    width: 25%;
    .box-sizing(border-box);
  }
  .spaced-out {
    padding:  30px 20% 15px;
  }
}
.profile-count-band {
  xtext-align:center;
  background:#f3f3f3;
  padding:15px 0;
  margin-top:170px;
  margin-bottom:280px;
  font-size:@largerFontSize;
  border:1px solid #a4a4a4;
  border-radius:10px;
  h3 {
    margin-left:20px;
    line-height:90%;
  }
  p {
    margin-left:20px;
    font-size:120%;
  }
}
#how-button {
  .buttonBackground(#a2a2a2, #555555);
  float:right;
  padding:12px 30px;
  margin-right:30px;
  margin-top:-53px;
  border-radius:10px;
}

#how-button a {
color:white;
font-size:22px;
font-weight:bold;
}
#how-button a:hover {
color:black;
text-decoration:none;
}

.index-search-form {
  .search-title{
    font-size:@largerFontSize;
    margin-top:60px;
  }
  .btn-extra-wide {
    margin: 86px auto 20px;
    padding: 4px 0;
    width: 100%;
  }
}

.home-icons {
  display: inline-block;
  margin:10px 0 70px;
  padding:0;
  width:33.3%;
  text-align: center;
  .home-icon{
    width:120px;
    height:120px;
    margin:20px auto 0;
    .background-image("../img/home-icons.png");
    background-repeat: no-repeat;
    &.view {background-position: 0 0;}
    &.search {background-position: 0 -120px;}
    &.buy {background-position: 0 -240px;}
  }
  .text {
    font-size:@largerFontSize;
    margin: 0 27%;
    line-height: 1.2em;
  }
}
#index-tab-nav {.container, .span12 {max-width:100%};}

#index-tab-nav {
  &.affix, &.affix-bottom {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
//    background: rgb(231,231,231);
//    border-bottom: 1px solid @hrBorder;
    .nav-pills {margin-bottom:-2px;}
  }
}

.affix-top + .affix-placeholder {display:none;}
.affix-bottom + .affix-placeholder, .affix + .affix-placeholder {display: block;height: 51px;width: 100%;}

.click-tabs-hint {
  background-color: white;
  .background-image("../img/landing/tabs-arrow.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-position: 30px 30px;
  padding: 60px;
}

.home-nav-pills {
  @bgColor: rgb(231,231,231);
  margin-bottom: 0;
 .box-shadow(0 -2px 3px rgba(0,0,0,.2));
  &.four-col > .nav-pill-large {width:25%;}
  .left-pill {
    xborder-radius:10px 0 0 10px;
  }
  .right-pill {
    xborder-radius:0 10px 10px 0;
  }
  > .nav-pill-large {
    width:20%;
    border-bottom: 1px solid @white;
    > a {
      line-height: 48px;
      height: 48px;
      padding: 0 10px;
      text-align: center;
      background-color: @bgColor;
      color:@textColor;
      border-right: 1px solid @hrBorder;
      border-bottom: 1px solid @hrBorder;
      border-top: 1px solid @white;
      border-left: 1px solid @white;
      margin:0;
    }
    &:hover > a {
      color:@textColor;
//      .buttonBackground(#969696, #ededed);
    }
    &.active {
      .background-image("../img/tabactive.png");
      background-position: 100% -51px;
      background-repeat: no-repeat;
      > a {
        border: none;
        .background-image("../img/tabactive.png");
        background-position: 0 0;
        background-repeat: no-repeat;
        line-height: 51px;
        height: 51px;
        margin-bottom:-1px;
        margin-right:20px;
      }
    }
  }
}
.homepage-tab-container {
  xbackground-color: @navbarBackground;
  overflow: hidden;
  .index-pane {
    min-height:345px;
    padding-top:100px;
    margin-top:00px;
    position:relative;
  }
  hr.pane-separator {
    margin:0;
  }
  .panel {
    &.picture {text-align:center;}
    &.text {margin-top: 30px;}
  }
  .panel-content {
    margin:10px 7%;
    &.spaced {
      margin-top:20px;
    }
  }
  .panel-left {
    width:455px;
    xbackground:yellow; 
    float:left;
  }
  .panel-right {
    width:430px;
    xbackground:red; 
    float:left;
  }
  a {
    text-decoration:underline;
    color:inherit;
  }
  h3 {
    font-size:230%;
    line-height:30px;
  }
}
