.index-page {
  .control-group {
    vertical-align: top;
    &.first {padding: 15px 0px 15px 25px; input {width: 100%;}}
    &.last {padding: 15px 25px 15px 0px;}
  }
  input {
    margin:0;
    width: 75%;
    height: 30px;
    .box-sizing(border-box);
  }
  .btn {
    width: 25%;
    .box-sizing(border-box);
  }
  .spaced-out {
    padding:  30px 20% 15px;
  }
}
.profile-count-band {
  text-align: center;
  margin: 0;
  color:@white;
  background:#555;
  padding:15px 0;
  margin-top:-20px;
  margin-bottom: 10px;
  font-size:@largerFontSize;
}
.index-search-form {
  .search-title{
    font-size:@largerFontSize;
    margin-top:60px;
  }
  .btn-extra-wide {
    margin: 83px auto 20px;
    padding: 4px 0;
    width: 100%;
  }
}
.home-icons {
  display: inline-block;
  margin:0 0 40px;
  padding:0;
  width:33.3%;
  text-align: center;
  .home-icon{
    width:120px;
    height:120px;
    margin:20px auto 0;
    .background-image("../img/home-icons.png");
    background-repeat: no-repeat;
    &.view {background-position: 0 0;}
    &.search {background-position: 0 -120px;}
    &.buy {background-position: 0 -240px;}
  }
  .text {
    font-size:@largerFontSize;
    margin: 0 27%;
    line-height: 1.2em;
  }
}
#index-tab-nav {.container, .span12 {max-width:100%};}

#index-tab-nav {
  &.affix, &.affix-bottom {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgb(231,231,231);
    border-bottom: 1px solid @hrBorder;
    .nav-pills {margin-bottom:-2px;}
  }
}

.affix-top + .affix-placeholder {display:none;}
.affix-bottom + .affix-placeholder, .affix + .affix-placeholder {display: block;height: 51px;width: 100%;}

.click-tabs-hint {
  background-color: white;
  .background-image("../img/landing/tabs-arrow.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-position: 30px 30px;
  padding: 60px;
}

.home-nav-pills {
  @bgColor: rgb(231,231,231);
  margin-bottom: 0;
  .box-shadow(0 -2px 3px rgba(0,0,0,.2));
  &.four-col > .nav-pill-large {width:25%;}
  > .nav-pill-large {
    width:20%;
    border-bottom: 1px solid @white;
    > a {
      line-height: 48px;
      height: 48px;
      padding: 0 10px;
      text-align: center;
      background-color: @bgColor;
      color:@textColor;
      border-right: 1px solid @hrBorder;
      border-bottom: 1px solid @hrBorder;
      border-top: 1px solid @white;
      border-left: 1px solid @white;
      margin:0;
    }
    &:hover > a {
      color:@textColor;
    }
    &.active {
      .background-image("../img/tabactive.png");
      background-position: 100% -51px;
      background-repeat: no-repeat;
      > a {
        border: none;
        .background-image("../img/tabactive.png");
        background-position: 0 0;
        background-repeat: no-repeat;
        line-height: 51px;
        height: 51px;
        margin-bottom:-1px;
        margin-right:20px;
      }
    }
  }
}
.homepage-tab-container {
  background-color: @navbarBackground;
  overflow: hidden;
  .index-pane {
    min-height:900px;
    padding-top: 50px;
    margin-top: 200px;
    position: relative;
  }
  hr.pane-separator {
    margin:0;
  }
  .panel {
    text-align: center;
    &.picture {margin: -30px 15% 0;}
    &.text {margin-top: -30px;}
  }
  .panel-content {
    margin:10px 16%;
    &.spaced {
      margin-top:80px;
    }
  }
}

