.dropdown .form {
  margin: 15px;
  .btn {margin: 0;}
}

small.heading {text-transform: uppercase;display: block;}
.message-container.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

.nav-entry-spaced {
  padding: 5px 15px;
  .btn {margin-top:0;}
}



.highlight {
  color: @linkColor;
}

.standard-gradient() {
  #gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);
}
.page-body {
  .box-shadow(0 0 3px rgba(0,0,0,.4));
}
.page-body-wrapper {
  padding:  0 30px;
}

.box-title {
  border-bottom: 1px solid @linkColor;
  padding: 10px 15px;
  margin:0;
  &.inline {
    margin: 0;
    padding: 15px 10px 10px;
    text-align:left;
  }
  &.tinted {
    .standard-gradient();
  }
  > h1,h2,h3,h4,h5,h6 {margin: 0;}
}






.footer {
  margin-top:30px; padding: 20px 0;
  background-color: @navbarBackground;
  .known-from-pic {
    vertical-align: top;
    margin: 0 10px 30px;
  }
  .footer-link {
    color:@textColor;
    line-height:2em;
  }
}
/* ============ MAILCHIMP ================== */

#mc_embed_signup {
  .btn {vertical-align: top;.borderradius(0);}
  .mail-chimp-header {font-family: @headingsFontFamily; font-size: @baseFontSize * 1.25; margin: 10px 0;}
  #mc-embedded-subscribe-form {margin-bottom:0;}
}


