.dropdown .form {
  margin: 15px;
  .btn {margin: 0;}
}

.link, .js-link {cursor:pointer;}
.link-style {cursor:pointer;text-decoration: underline; font-style: italic; color: #999;}
.message-container.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

.standard-box {
  #gradient > .vertical(#ebebed, #f3f3f5);
  border: 1px solid #e1e1e3;
  &.centered {
    margin-top: 120px;
  }
}
.box-title {
  font-size: 20px;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
  margin: 10px;
  text-align: center;
  padding: 5px 10px 10px;
}


.show-contracted {display:block;}
.show-expanded {display:none;}
.expanded {
  .show-contracted {display:none;}
  .show-expanded {display:block;}
  .show-expanded.inline {display:inline;}
}

.nav-entry-spaced {
  padding: 5px 15px;
  .btn {margin-top:0;}
}

.footer {
  margin-top:30px; padding: 20px 0; width: 100%; display: block; border-top: 1px solid #eee;;
  .footer-link {margin: 0 15px;}
}

.highlight {
  color: @linkColor;
}