.dropdown .form {
  margin: 15px;
  .btn {margin: 0;}
}
.center {text-align: center;}

.link, .js-link {cursor:pointer;}
.link-style {cursor:pointer;text-decoration: underline; color: #999;}
small.heading {text-transform: uppercase;display: block;}
.message-container.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

.standard-padded-box {
  padding: 15px;
}
.standard-frame {
  .box-shadow(0 0 3px rgba(0,0,0,.3));
}
.standard-box {
  #gradient > .vertical(#ebebed, #f3f3f5);
  .standard-frame;
  &.centered {
    margin-top: 120px;
  }
  hr {
    border-top-color: #ddd;
    border-bottom-color: transparent;
  }
}

.spaced-top {
  margin-top:30px;
}

.show-contracted {display:block;}
.show-expanded {display:none;}
.expanded {
  .show-contracted {display:none;}
  .show-expanded {display:block;}
  .show-expanded.inline {display:inline;}
}

.nav-entry-spaced {
  padding: 5px 15px;
  .btn {margin-top:0;}
}

.footer {
  margin-top:30px; padding: 20px 0; width: 100%; display: block; border-top: 1px solid #eee;;
}

.highlight {
  color: @linkColor;
}

.standard-gradient() {
  #gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);
}
.page-body {
  .box-shadow(0 0 3px rgba(0,0,0,.4));
}
.page-body-wrapper {
  padding:  0 30px;
}

.box-title {
  border-bottom: 1px solid #ddd;
  padding: 10px 15px;
  margin:0;
  &.inline {
    margin: 0;
    padding: 15px 10px 10px;
    text-align:left;
  }
  &.tinted {
    .standard-gradient();
  }
  > h1,h2,h3,h4,h5,h6 {margin: 0;}
}


.sub-header-band {
  color: white;
  margin-top:-@baseLineHeight;
  line-height:@navbarHeight;
  height:@navbarHeight;
  #gradient > .vertical(#4b4b4b, #343434);
}

/* ============ MAILCHIM ================== */

#mc_embed_signup {
  padding: 15px 15px 10px;
  #gradient > .vertical(#ebebed,#fff);
  .standard-frame;
  .btn {vertical-align: top;}
  label {font-weight: bold;}
  #mc-embedded-subscribe-form {margin-bottom:0;}
}