.search-page {
  padding-bottom: 100px;
}
.search-filters {
  padding:  10px 0 0 20px;
}
.collection-filters + .collection-filters {border-top: 1px solid #ddd;}

.search-realm {
  margin: 15px 0 0;
  > label.radio{display: inline-block; vertical-align: top;white-space: nowrap;margin-left: 22px;}
}
.filter-section {
  h5 {
    background: #f9f9f9;
    margin: 0;
    font-size:12px;
    padding:  5px 10px;
    border-top: 1px solid #ddd;
    color: @linkColor;
  }
  label {padding-left:30px;}
  .show-more {
    display: block;
    text-align: right;
    padding: 0 10px;
    font-size: .8em;
  }
}


.search-box {
  position: relative;
  margin: 11px 0;
  .search-query {
    height: @baseLineHeight + 10px;
    width: 100%;
    padding-right:17%;
    .box-sizing(border-box);
    + .btn {
      .box-sizing(border-box);
      height: @baseLineHeight + 10px;
      width: 20%;
      padding: 4px 3px 3px;
    }
  }
  .btn {
    position: absolute;
    right: 0;
    background: transparent;
    border: none;
    box-shadow: none;
  }
  .advanced-search-link {
    position: absolute;
    right: 0;
    font-size: .8em;
    color: #999;
    text-transform: uppercase;
  }
}
.navbar .search-box {
  margin: 24px 0;
  .btn {margin-top:0;}
}

.search-results-tags {.clearfix;}
.tag.label {
  margin-right:10px;
  padding: 4px 6px;
  .borderradius(3px);
  font-weight:normal;
  .close {
    line-height: 14px;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    margin-left: 10px;
  }
}

.search-results-sorting {
  padding: 20px 20px 0;
  .control-group {
    margin-left:15px;
    float:right;
  }
  select {
    margin-bottom: 0;
    padding: 0;
    height: 24px;
    margin-top: -2px;
  }
}

.search-results-header {
  padding: 0 30px 0 0;
  border-top: 1px solid #ddd;
  margin-top: 10px;
  clear:both;
  .search-column {
    font-weight:bold;
    padding: 10px 0;
    margin:  0 0;
    min-height:30px;
    &.picture {
      width: 150px;
      margin: 0;
    }
  }
  .search-column.details {
    margin-left:16px;
  }
}
.search-select-all-link {
  vertical-align: top;
  margin: -10px 16px 0;
  display: block;
  .link-style;
  &:hover {text-decoration:  none;}
  &.hide {display: none;}
  .marked-checkbox {margin-top: -2px;}
  .text {display: inline-block;vertical-align: top;}
}

.search-results-body {
  list-style-type: none;
  margin: 0 0;
  position: relative;
  .show-loading {
    display:none;
    text-align: center;
    line-height: 80px;
  }
  &.loading {
    .search-results-row,.search-placeholder {
      display:none;
    }
    .show-loading{
      display:block;
    }
  }
}

.search-placeholder.empty {
  line-height: 150px;
  text-align: center;
}
.marked-checkbox.checked, &.selected .marked-checkbox {
  background-position: 2px -26px;
}

.marked-checkbox {
  display: inline-block;
  height: 21px;
  width: 21px;
  .background-image("../img/checkbox.png");
  background-position: 2px 4px;
  background-repeat: no-repeat;
}

.search-results-row {
  clear:both;
  border-top: 1px solid #ddd;
  padding:10px;
  .marked-checkbox {
    display: block;
    position: absolute;
    top: 7px;
    left: 3px;
  }
  .search-result-item {
    border: 2px solid transparent;
    padding:10px 20px 10px 0;
    position: relative;
    height:80px;
  }
  &.selectable{cursor:pointer;}
  &.selected .search-result-item {
    border-color: @linkColor;
    #gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);
  }

  .last-updated {
    position: absolute;
    right: 20px;
    bottom: 10px;
    text-transform: uppercase;
    font-size: .8em;
    line-height: 1em;
  }
}
.search-column {
  &.picture {
    float:left;
    text-align: center;
    width: 80px;
    margin: 0 10px;
  }
  &.completion, &.subscribers, &.rank {
    width: 15%;
    float:right;
    text-align: right;
    min-width:100px;
  }
  &.details {
    margin-left:30px;
    margin-right:45%;
    min-width:150px;
    .name {color: @linkColor; font-weight:bold;}
    .location {color: #999; font-size: .9em;}
  }
}

/* ===================================== MINI ========================== */
.search-results-container.mini{
  .search-results-header{
    padding: 1px 30px 0;
    border-bottom: 1px solid #ddd;
    .standard-gradient();
  }
}

.search-results-row.mini{
  height: auto;
  cursor:default;
  border-top: none;
  .right-col {
    margin-left:40%;
    width:60%;
  }
  + .search-results-row {
    border-top: 1px solid #eee;
  }
}

.collector-stats {
  .search-column {
    &.completion, &.subscribers, &.rank {
      width: auto;
      float:None;
      display: block;
      text-align: right;
      .caption {display: block;text-transform: uppercase;font-size: .7em;}
      .caption, .value{line-height:1em;font-weight:bold;}
    }
    &.details {
      margin-left:0;
      margin-right:0;
      float:left;
    }
  }
}