.small-title{
  padding-top: 5px;
  font-family: "OpenSans","Helvetica Neue",sans-serif; 
  font-size: 13px;
  text-align: left;
  font-weight: bold;
}
h2.centered{
  text-align: center;
}
h2.page-title{
  margin-bottom: 35px;
}
.auth-page{
  .form-fields{
    background: #fff;
  }
}
.funnel-header{
  float: left;
  overflow: visible;

  li{
    display: inline-block;
    float: left; 
    width: 228px;
    padding: 9px 40px !important;
    margin-bottom: 15px;
    margin-right: 5px;
    text-align: center;
    background: #ededed url(../img/arrow_funnel.png) right -6px no-repeat;

    a{
      color: #fff;
    }
  }
}

