@borderColor:#777;
@searchResultItemHeight: 26px;

.search-field {
  input {margin-bottom:0;}
}

.entity-search-result {
  position: absolute;
  z-index:5;
  width: 100%;
  left:0;
  background: @dropdownBackground;

  .loading {
    text-align: center;
    padding:  10px;
    border: 1px solid @dropdownBorder;
  }
  .entity-search {
    padding: 0;
    list-style-type: none;
    margin: 0px;
    border: 1px solid darken(@borderColor, 20%);
    border-top: none;
  }
  .search-result-item {
    padding: 2px 6px;
    line-height: @searchResultItemHeight - 4px;
    position:relative;
    cursor:pointer;
    color:@white;
    &.active {
      background:darken(@dropdownBackground, 15%);
      .shortcut {background:darken(@dropdownBorder, 10%);}
    }
    + .search-result-item {border-top: 1px solid @borderColor;}

    .shortcut {
      background: darken(@dropdownBorder, 10%);
      border-left:1px solid @dropdownBorder;
      padding: 0 15px 0 0;
      height: 100%;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      vertical-align: middle;
      line-height: @searchResultItemHeight;
      text-align: right;
    }
    &.create-new-entity {
      background:#666;
      color:white;
      text-shadow: 0 0 1px black;
      .shortcut {
        background: #666;
        color:white;
        text-shadow: none;
      }
      &.active {
        background:#888;
        .shortcut {background:#888;}
      }
    }
  }
}

.expanded .query{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}