<%inherit file="../layout.html"/>
<%def name="pageClass()">search-page-container</%def>

<%def name="content()">${self.searchBody(False)}</%def>

<%def name="searchBody(mineSelected = False)">
<div class="container">
    <div class="row">
        <div class="span12">
            <h4 class="box-title">Displaying <span class="results-counter"></span></h4>
        </div>
    </div>
</div>
<div class="container search-page">
    <div class="row">
        <div class="span3">
            <div class="search-realm ${'hide' if vctxt.user.isAnon() else ''}">
                <label class="radio">
                    <input type="radio" name="myCollectors" data-url="/web/search/mycollector" data-owned-profile="true" data-allow-empty-search="true" ${'checked' if mineSelected else ''}>
                    My Collectors
                </label>
                <label class="radio">
                    <input type="radio" name="myCollectors" data-url="/web/search/collector" data-owned-profile="false" data-allow-empty-search="false" ${'' if mineSelected else 'checked'}>
                    All Collectors
                </label>
            </div>
        </div>
        <div class="span9">
            <div class="search-results-tags">
                <a class="btn pull-right dismiss">Reset</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span3">
            <div class="search-filters-wrapper">
                <h4>Filter the Results</h4>
                <form class="search-filters"></form>
            </div>
        </div>
        <div class="span9">
            <div class="search-results-container">
                <div class="search-results-header">
                    <div class="search-column collection sortable-col" data-property="hasCollection">
                        Collection
                        <span class="sorting-switch"></span>
                    </div><div class="search-column contact sortable-col" data-property="isContactable">
                        Contact
                        <span class="sorting-switch"></span>
                    </div><div class="search-column rank sortable-col up" data-property="ranking">
                        Ranking
                        <span class="sorting-switch"></span>
                    </div><h4>Collector</h4>
                </div>
                <ul class="search-results-body"><li class="show-loading"><img src="${ROOT_STATIC_URL}img/ajax-loader-light.gif"/></li><li class="search-placeholder empty">No Results</li></ul>
            </div>
        </div>
    </div>
</div>
</%def>

<%block name="options">
    options.pageconfig.SEARCH = {el: $(".search-page-container"), query:${query|n}, filters: ${filters|n}};
</%block>
<%block name="scripts">
    <script>
        require(["views/search"], function(v){
            v.init(hnc.options).render();
        });
    </script>
</%block>