<%inherit file="layout.html"/>

<%def name="content()">
    <div class="container contact-page">
        <!-- Example row of columns -->
        <div class="row">

            <div class="span12">
                <h4>Contact us</h4>
                <p class="subhead">Thanks for your interest in Larry’s List, below are the various contact options.</p>
                <div class="row">
                    <div class="span2">
                        <p>Email:<br>Address:</p>
                    </div>
                    <div class="span10">
                        <p>mail@larryslist.com <br>
                            Whatever Street 666 <br>
                            Go to Hell, 10222<br>
                            USA
                        </p>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="span9 offset2">
                        <a>Click here for questions about Information Removal</a>
                        <br>
                        <a>Click here for Advertising, Partnership and Business Opportunities</a>
                    </div>
                </div>
            </div>

        </div>
    </div> <!-- /container -->
</%def>