<%inherit file="layout.html"/>

<%def name="content()">
    <div class="container press-page">

        <!-- Example row of columns -->
        <div class="row  ">
            <div class="span8  border" >
                <h4 class="gradient-bg">Press</h4>
                <div class="row press-post">
                    <div class="span2 date">12 feb 2013</div>
                    <div class="span6">Larrys list is the shit!<br>
                        <a href="link">click here to read MOAR!</a>
                    </div>
                </div>

                <div class="row press-post">
                    <div class="span2 date">13 feb 2013</div>
                    <div class="span6">Larrys list is the shit!<br>
                        <a href="link">click here to read MOAR!</a>
                    </div>
                </div>

                <div class="row press-post">
                    <div class="span2 date">13 feb 2013</div>
                    <div class="span6">Larrys list is the shit!<br>
                        <a href="link">click here to read MOAR!</a>
                    </div>
                </div>

            </div>

            <div class="span4 gradient-bg border">
                <h4>Larry’s List Today</h4>
                <p>
                    172,763,086 members <br>
                    in 180 countries<br>
                    150+ employees<br>
                    who speak 40 languages
                </p>
            </div>
            <div class="span4  gradient-bg border">
                <h4>Press contact</h4>
                <div class="row">
                    <div class="span2 tar">Email:<br>
                        Some info: </div>
                    <div class="span2">Dunno@larryslist.com<br>some more data</div>
                </div>
            </div>
            <div class="span4 offset8 gradient-bg border">
                <h4>Downloads</h4>
                <div class="row">
                    <div class="span2">Factsheet</div>
                    <div class="span2"> <span id="pdf-icon"></span></div>
                </div>

                <div class="row">
                    <div class="span2">Logo</div>
                    <div class="span2"><span id="logo-icon"></span></div>
                </div>
            </div>

        </div>

    </div> <!-- /container -->
</%def>