<%inherit file="layout.html"/>

<%def name="content()">

    <div class="container terms-page">

    <!-- Example row of columns -->
    <div class="row">

    <div class="span12">

    <h4>Terms
    </h4>

    <p>Thank you for your interest in Pipl.</p>
    <p>The following terms and conditions apply to all users who use Pipl services (defined below).</p>
    <p><strong>Pipl terms of use</strong><br>
        By using Pipl services, including servers, databases, directories, network, tools,
        information, components, pipl.com, features, functionality, as well as any
        application, software, component, program created or made available by Pipl
        as well as to any software application, tool, feature, service and website
        provided by or through Pipl (“Pipl”), that
        utilizes, is supported by, influences the functionality and user experience of,
        or utilizes for its operation, to any extent, directly or indirectly, any of
        the above (“Pipl Services”) you agree to these terms and
        conditions, and all modifications thereto including all rules that may be
        published from time to time by Pipl ("Terms of Service") and the
        Pipl privacy policy. Each time you use a Pipl Product, you reaffirm your
        acceptance of the then-current Terms of Service. If you do not wish to be bound
        by these Terms of Service, you may discontinue using Pipl Services. You
        cannot use Pipl Services until you have accepted these Terms of Service.
        <br>
        <br>
        You agree and understand that certain Pipl Services, features and other
        premium services offered by or through Pipl (including services from Pipl)
        may be subject to additional terms and conditions or registration requirements.
        You agree to abide by these additional terms and you further agree that a
        violation of those terms while you are accessing those products with your
        Pipl user ID or through a Pipl Product shall constitute a breach of these
        Terms of Service.
    </p>
    <p><strong>Changes to Terms of Service</strong><br>
        Pipl may change the Terms of Service at any time and in its sole discretion.
        The modified Terms of Service will be effective immediately upon posting on or
        through the Pipl website (www.pipl.com) and you agree to the new posted
        Terms of Service by continuing your use of Pipl Services. Pipl will provide
        at least 30-days' notice before any material changes take effect. If you do not
        agree with the new/modified Terms of Service, your sole remedy is to
        discontinue using Pipl Services and cancel your registration.</p>
    <p><strong>Grant of License</strong><br>
        Pipl and its vendors grant you a personal, limited, non-exclusive,
        non-transferable, non-assignable license to use Pipl services in accordance with these Terms of
        Service.
    </p>
    <p><strong>Limitation of Use</strong><br>
        You may use Pipl Services for lawful purposes only. You may not use Pipl
        Products in any manner that (1) violates or infringes in any way upon the
        rights of others, (2) is unlawful, threatening, abusive, defamatory, invasive
        of privacy or publicity rights, or otherwise objectionable, (3) encourages
        conduct that would constitute a criminal or other offense, (4) gives rise to
        civil liability, or (5) otherwise violates any applicable local, state, federal
        or international law, ordinance including any regulations requirements,
        procedures or policies in force from time to time, or any right of any third
        party, including without limitation, any right of privacy or publicity. You
        also may not undertake any conduct that, in Pipl's judgment, restricts or
        inhibits any other user from using or enjoying Pipl Services.<br>
        You may not use Pipl Services to determine a consumer's eligibility for credit
        or insurance for personal, family or household purposes, employment or a government
        license or benefit or for any other purpose governed by the FCRA (Fair Credit Reporting Act).
    </p>
    <p><strong>No Spam, No harvesting</strong>
        <br>
        You may not use Pipl Services to send unsolicited bulk communications,
        including through e-mail. You may not harvest or collect
        information from Pipl Services. Any violation of
        these provisions may result in immediate termination of your account and
        further legal action. You agree that Pipl may take any legal and technical
        remedies to prevent unsolicited bulk communications.</p>
    <p><strong>Advertising </strong>
        <br>
        Pipl reserves the right to run advertisements and promotions on the Pipl
        website. By accepting the terms of this License, you
        agree that we have the right to run such advertisements and promotions without
        compensation to you. The timing, frequency, placement and extent of advertising
        by us within the pages comprising the Pipl website is subject to change and
        shall be determined by us at our sole discretion. Your correspondence or
        business dealings with, or participation in promotions of, advertisers found on
        or through the Pipl website, including payment and
        delivery of related goods or services, and any other terms, conditions,
        warranties or representations associated with such dealings, are solely between
        you and such advertiser. You agree that Pipl is not be responsible or liable
        for any loss or damage of any sort incurred as the result of any such dealings
        or as the result of the presence of such advertisers on Pipl web site.</p>
    <p><strong>Taxes</strong><br>
        You are responsible for paying all applicable taxes and other costs, however
        called, imposed by any applicable Federal, state or local or foreign government
        or regulatory authority in connection with your use of the services,
        whether such is imposed now or later by the applicable authority,
        even if such imposition occurs after the receipt or use by you of the Software
        or the termination or expiration of the License. You are responsible for paying
        all hardware and software costs and providing all equipment and software
        necessary to connect to Pipl's web site, servers and network and to use the
        Software via the Internet and any royalties or other charges relating to the
        use of data owned by third parties.</p>
    <p><strong>Restrictions on access</strong><br>
        You may access Pipl Services only through the interfaces and protocols
        provided or authorized by Pipl. You agree that you will not access Pipl
        servers and Products through unauthorized means, such as unlicensed software
        clients.</p>
    <p><strong>Your access</strong><br>
        You are responsible for obtaining and maintaining the equipment and
        connectivity services (e.g. telephone, cable etc.) necessary to access and use
        the Pipl Product and for any charges, telephone or other, associated with
        connecting to the Internet to use the Product. Such charges may vary upon your
        location, access number and may include long distance telephone charges.
    </p>
    <p><strong>Risks</strong><br>
        The Pipl service may be vulnerable to various security issues
        and should not be considered secure. By using the Pipl services
        you may be subject to various risks, including, among others:<br>
        -Unauthorized exposure of information
        <br>
        -Unauthorized invasion of your or someone else’s privacy during, or as a
        result of, your or another's use of the Service.
        <br>
        -Spoofing, eavesdropping, sniffing, spamming, breaking passwords, harassment,
        fraud, forgery, "imposturing", electronic trespassing, tampering,
        hacking, nuking, system contamination including without limitation use of
        viruses, worms and Trojan horses causing unauthorized, damaging or harmful
        access and/or retrieval of information and data on your computer and other
        forms of activity that may even be unlawful.<br>
        If you do not wish to be subjected to these risks you are advised not to use
        the services</p>
    <p><strong>Intellectual Property Rights</strong><br>
        As between Pipl and you, Pipl is the sole owner of the Software, Pipl
        Products, including without limitation, all applicable U.S. and non-U.S.
        Copyrights, patents, trademarks, and trade secrets, and other intellectual
        property rights thereto. All title and intellectual property rights in and to
        the content of any third party web site which may be linked to or viewed in
        connection with the Service is the property of the respective content owner and
        may be protected by applicable Copyright or other intellectual property laws
        and treaties. This Agreement grants you no rights to use such content except as
        allowed by such third party.</p>
    <p><strong>Copyright and Trademark Infringements</strong><br>
        Notification:<br>
        Pipl respects the intellectual property of others, and we ask you to do the same.  Pipl may, in appropriate circumstances and at our discretion, terminate service and/or access to the Pipl website and the Pipl Services to users who infringe the intellectual property rights of others.  If you believe that your work is the subject of copyright infringement and/or a trademark infringement and appears on the Pipl website, please provide Pipl's copyright agent the following information:
        <br>- A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
        <br>- Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site.
        <br>- Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit Pipl to locate the material.
        <br>- Information reasonably sufficient to permit Pipl to contact the complaining party, such as an address, telephone number, and, if available, an electronic mail address at which the complaining party may be contacted.
        <br>- A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law.
        <br>- A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
        <br>
        Pipl's agent for notice of claims of copyright or trademark infringement on the Pipl website can be reached as follows:<br>
        By mail:
        Pipl. Inc.
        ATT: DMCA NOTICE
        588 Sutter St. #140
        San Francisco, CA 94102
        By phone:
        +1 (415) 373-0180
        By e mail:
        dmca_notice<img src="/static/images/at.png">pipl.com
        <br>
        Please also note that for copyright infringements under Section 512(f) of the Copyright Act, any person who knowingly materially misrepresents that material or activity is infringing may be subject to liability.<br>
        Counter-Notification:<br>
        If you elect to send us a counter notice, to be effective it must be a written communication provided to our designated agent that includes substantially the following (please consult your legal counsel or see 17 U.S.C. Section 512(g)(3) to confirm these requirements):
        <br>- A physical or electronic signature of the user.
        <br>- Identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or access to it was disabled.
        <br>- A statement under penalty of perjury that the user has a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material to be removed or disabled.
        <br>- The user's name, address, and telephone number, and a statement that the user consents to the jurisdiction of Federal District Court for the judicial district in which the address is located, or if the user's address is outside of the United States, for any judicial district in which the service provider may be found, and that the user will accept service of process from the person who provided notification under subsection (c)(1)(C) or an agent of such person.
        <br>
        Such written notice should be sent to our designated agent as follows:<br>
        By mail:
        Pipl. Inc.
        ATT: DMCA NOTICE
        588 Sutter St. #140
        San Francisco, CA 94102
        By phone:
        +1 (415) 373-0180
        By e mail:
        dmca_notice<img src="/static/images/at.png">pipl.com
        <br>
        Please note that under Section 512(f) of the Copyright Act, any person who knowingly materially misrepresents that material or activity was removed or disabled by mistake or misidentification may be subject to liability.<br>
        Only the intellectual property rights owner may report potentially infringing items through Pipl's reporting system set forth above.  If you are not the intellectual property rights owner, you should contact the intellectual property rights owner and they can choose whether to use the procedures set forth in these Terms.<br>
    </p>
    <p><strong>Unsolicited materials</strong><br>
        Any unsolicited materials submitted or sent to Pipl will be deemed to be not
        confidential or secret. By submitting or sending information or other material
        to Pipl you:<br>
        (a) Warrant that you have all rights of any kind to the material and that to
        the best of your knowledge no other party has any rights to the material; and<br>
        (b) grant Pipl an unrestricted, perpetual, irrevocable license to use,
        reproduce, display, perform, modify, transmit and distribute the material, and
        you further agree that Pipl is free to use any ideas, know-how, concepts or
        techniques you send us for any purpose, without any compensation to you or any
        other person.</p>
    <p><strong>Changes to service</strong><br>
        Pipl has the right at any time to change, modify, add to or discontinue or
        retire any aspect or feature of Pipl Services including, but not limited to,
        the Software, website, server availability, hours of availability, equipment
        needed for access or use, the update frequency, or the availability of Pipl
        Products on any particular device or communications service. Pipl may provide
        different users with different level of service or service features
        availability, or cease to provide service to some or all users. Pipl has no
        obligation to provide you with prior notice of any such changes.</p>
    <p><strong>Disclaimer of Warranty</strong><br>
        YOUR USE OF PIPL SERVICES IS AT YOUR SOLE RISK. PIPL
        SERVICES ARE PROVIDED "AS IS," "WITH ALL
        FAULTS" AND "AS AVAILABLE" FOR YOUR USE, WITHOUT WARRANTIES OF
        ANY KIND, EITHER EXPRESS OR IMPLIED, UNLESS SUCH WARRANTIES ARE LEGALLY
        INCAPABLE OF EXCLUSION.
        <br>
        WITHOUT LIMITATION OF THE FOREGOING, PIPL AND ITS VENDORS SPECIFICALLY
        DISCLAIM ANY AND ALL WARRANTIES, INCLUDING, BUT NOT LIMITED TO: (i) ANY
        WARRANTIES CONCERNING THE AVAILABILITY, ACCURACY, SECURITY, USEFULNESS,
        INTEROPERABILITY, OR CONTENT OF THE SERVICES; AND (ii) ANY
        WARRANTIES OF TITLE, WARRANTY OF NON-INFRINGEMENT, WARRANTIES OF
        MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. PIPL AND ITS VENDORS DO
        NOT WARRANT THAT THE FUNCTIONS CONTAINED IN PIPL SERVICES WILL
        MEET YOUR REQUIREMENTS OR THAT THE OPERATION OF PIPL SERVICES
        WILL BE UNINTERRUPTED OR ERROR-FREE, OR THAT DEFECTS IN PIPL SERVICES
        WILL BE CORRECTED. PIPL AND ITS VENDORS DO NOT WARRANT OR MAKE ANY
        REPRESENTATIONS REGARDING THE USE OR THE RESULTS OF THE USE OF PIPL SERVICES
        OR RELATED DOCUMENTATION IN TERMS OF THEIR CORRECTNESS, ACCURACY,
        RELIABILITY OR OTHERWISE. PIPL PROVIDES PIPL SERVICES ON A
        COMMERCIALLY REASONABLE BASIS AND DOES NOT GUARANTEE THAT USERS WILL BE ABLE TO
        ACCESS OR USE PIPL SERVICES AT TIMES OR LOCATIONS OF THEIR CHOOSING, OR THAT
        PIPL WILL HAVE ADEQUATE CAPACITY FOR PIPL SERVICES AS A WHOLE.
    </p>
    <p>THIS DISCLAIMER OF LIABILITY APPLIES TO ANY DAMAGES OR INJURY CAUSED BY THE
        SERVICE, INCLUDING WITHOUT LIMITATION AS A RESULT OF ANY FAILURE OF
        PERFORMANCE, ERROR, OMISSION, INTERRUPTION, DELETION, DEFECT, DELAY IN
        OPERATION OR TRANSMISSION, COMPUTER VIRUS, COMMUNICATION LINE FAILURE, THEFT OR
        DESTRUCTION OR UNAUTHORIZED ACCESS TO, ALTERATION OF, OR USE OF RECORD, WHETHER
        FOR BREACH OF CONTRACT, TORT, NEGLIGENCE, OR UNDER ANY OTHER CAUSE OF ACTION.
        PIPL DOES NOT WARRANT OR GUARANTEE THAT ALL VERSIONS SHALL BE
        PROVIDED WITH SIMILAR GRADES AND LEVELS OF SERVICE, FEATURES, FUNCTIONALITY AND
        THE ABILITY TO USE THE SERVICE. PIPL DOES NOT WARRANT OR
        GUARANTEE (1) THAT ANY PROGRAM OR PORTION OF THE SERVICE WILL BE FREE OF
        INFECTION BY VIRUSES, WORMS, TROJAN HORSES OR ANYTHING ELSE MANIFESTING
        CONTAMINATING OR DESTRUCTIVE PROPERTIES; OR (2) THAT THE FUNCTIONS OR SERVICES
        PERFORMED BY PIPL WILL BE UNINTERRUPTED OR ERROR-FREE OR THAT DEFECTS IN
        THE SERVICE WILL BE CORRECTED. IT IS YOUR SOLE RESPONSIBILITY TO
        ISOLATE THE INFORMATION, EXECUTE ANTI-CONTAMINATION SOFTWARE AND
        OTHERWISE TAKE STEPS TO ENSURE THAT SOFTWARE OR OTHER INFORMATION OBTAINED FROM
        THE SERVICE OR OTHER USERS, IF CONTAMINATED OR INFECTED, WILL NOT DAMAGE YOUR
        INFORMATION OR SYSTEM.<br>
        <br>
        <strong>No liability</strong><br>
        IN NO EVENT WILL PIPL, ITS OFFICERS, DIRECTORS, EMPLOYEES, PARENTS,
        AFFILIATES, SUCCESSORS OR ASSIGNS, BE LIABLE TO ANY PARTY (i) FOR ANY INDIRECT,
        DIRECT, SPECIAL, PUNITIVE, INCIDENTAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES
        (INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF BUSINESS PROFITS, BUSINESS
        INTERRUPTION, LOSS OF PROGRAMS OR DATA, LOSS OF GOODWILL, OR INFORMATION, WORK
        STOPPAGE, COMPUTER FAILURE OR MALFUNCTION, OR ANY OTHER COMMERCIAL DAMAGES OR
        LOSSES AND THE LIKE), OR ANY OTHER DAMAGES ARISING IN ANY WAY OUT OF THE
        AVAILABILITY, USE, RELIANCE ON, OR INABILITY TO USE PIPL SERVICES,
        EVEN IF PIPL SHALL HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH
        DAMAGES, AND REGARDLESS OF THE FORM OF ACTION, WHETHER IN CONTRACT, TORT, OR
        OTHERWISE; OR (ii) FOR ANY CLAIM ATTRIBUTABLE TO ERRORS, OMISSIONS, OR OTHER
        INACCURACIES IN, OR DESTRUCTIVE PROPERTIES OF ANY OTHER SOFTWARE OR OTHER
        CONTENT INCLUDED AS PART OF THE SERVICE OR BY THE SITE. BECAUSE SOME STATES OR
        JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR THE LIMITATION OF LIABILITY FOR
        CONSEQUENTIAL OR INCIDENTAL DAMAGES, IN SUCH STATES OR JURISDICTIONS, PIPL'S
        LIABILITY SHALL BE LIMITED TO THE EXTENT PERMITTED BY LAW. PIPL'S ENTIRE
        LIABILITY AND YOUR EXCLUSIVE REMEDY WITH RESPECT TO ANY DISPUTE WITH PIPL
        (INCLUDING WITHOUT LIMITATION YOUR USE OF PIPL SERVICE)
        IS TO DISCONTINUE YOUR USE OF PIPL SERVICES. PIPL
        DOES NOT ENDORSE, WARRANT OR GUARANTEE ANY PRODUCT OR SERVICE OFFERED THROUGH
        PIPL PRODUCT PRODUCTS AND WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE
        FOR MONITORING ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF
        PRODUCTS OR SERVICES</p>
    <p><strong>Applicable Law</strong><br>
        This License as well as all disputes arising out of or in connection with this
        License shall be governed by the laws of Israel, regardless of choice of law
        rules or principles.<br>
        Any dispute arising out of or in connection with this License, or in future
        agreements resulting there from, shall be exclusively resolved before the
        competent court in Israel.</p>
    <p><strong>International use</strong><br>
        Recognizing the global nature of the Internet, you agree to comply with all
        local rules regarding on-line conduct and privacy. Specifically, you agree to
        comply with all applicable laws regarding privacy and privacy invasion which
        apply in the country in which you reside.</p>
    <p><strong>No Support by Pipl</strong><br>
        You understand that your use of the Services is at your own risk and that
        Pipl does not commit to provide any assistance other than the information
        posted on the Pipl Web site located at www.pipl.com. Pipl is under no
        obligation to provide you with any error corrections, updates, upgrades, bug
        fixes and/or enhancements of the Service</p>
    <p><strong>Indemnification</strong><br>
        You agree to defend, indemnify and hold harmless Pipl, its vendors, and their
        respective directors, officers, employees and agents from and against all
        claims and expenses, including attorneys' fees, arising out of your use of
        Pipl Services. Pipl reserves the right, at its own expense and in its sole
        discretion, to assume the exclusive defense and control of any matter otherwise
        subject to indemnification by you. In that event, and only in such event, shall
        you have no further obligation to provide indemnification for Pipl in that
        matter.</p>
    <p><strong>Termination</strong><br>
        Pipl has the right to terminate
        your access to Pipl Services for any reason, including, without limitation,
        if it, in its sole discretion, considers your use to be unacceptable, or in the
        event of any breach by you of the Terms of Service (either directly or through
        breach of any other terms and conditions or operating rules applicable to you).
        Pipl may, but shall be under no obligation to, provide you a warning prior to
        termination of your use of Pipl Services.</p>
    <p><strong>3rd party sites and services</strong><br>
        Third parties may offer from time to time applications or services to access
        Pipl Services. Your use of such third-party applications will be at your own
        risk and subject to the terms and conditions of those third-parties. Pipl
        does not represent and warrant that access and use of Pipl Services through
        these third-party applications will be compatible, uninterrupted, error free,
        without defects or that you will be able to access Pipl Services at all times
        and locations of your choosing. You also agree that Pipl is under no
        obligation to provide you with any error corrections, updates, upgrade, fixes
        and/or enhancements to make Pipl Services accessible through these
        third-party applications.
    </p>
    <p>The Pipl service may provide, or third parties may provide,
        links to World Wide Web sites or other Internet resources. Any third-party
        sites to which Pipl Services may link are not under control of
        Pipl. Pipl does not have any responsibility or liability for any
        information, data, communications, materials or other content available on such
        third-party sites or any changes or updates to such sites. Pipl is providing
        these links to you only as a convenience, and the inclusion of any link does
        not imply endorsement by Pipl of the site</p>
    <p><strong>Export control</strong><br>
        You agree to comply with all export and import laws and restrictions and
        regulations of the United States or any foreign agency or authority, and not to
        export, re-export or import the Software or any direct product thereof in
        violation of any such restrictions, laws or regulations, or without all
        necessary approvals. For example, you may not export or re-export any
        commodities, software, or technical data received from Pipl, or any direct
        product of such commodities, software or technical data, to any proscribed
        country, party, or entity listed in the applicable laws, regulations, and rules
        of the U.S. Government unless properly authorized. As applicable, each party
        shall obtain and bear all expenses and responsibility relating to any necessary
        licenses and/or exemptions with respect to its own export or re-export of the
        Software from the U.S.</p>
    <p><strong>Electronic Delivery Policy</strong><br>
        Pipl, as an online business, transacts with its users electronically. WHEN
        YOU SIGN UP FOR ANY PIPL PRODUCT, YOU CONSENT TO RECEIVE ELECTRONICALLY FROM
        PIPL ANY PRIVACY OR OTHER NOTICES, AGREEMENTS, DISCLOSURES, REPORTS,
        DOCUMENTS, COMMUNICATIONS, OR OTHER RECORDS (COLLECTIVELY,
        "NOTICES"). You agree that Pipl generally can send you electronic
        Notices in either or both of the following ways: (1) to the e-mail address that
        you provided to Pipl during registration or (2) on a welcoming screen or top
        page of the relevant Pipl Product. The delivery of any Notice from Pipl is
        effective when sent by Pipl, regardless of whether you read the Notice when
        you receive it or whether you actually receive the delivery. Your only method
        of withdrawing consent to receive Notices electronically is to terminate any
        subscriptions, services or other products provided under these Terms of
        Service.
    </p>
    <p><strong>Trademarks</strong><br>
        The Pipl name, logo, and other Pipl related properties are trademarks of
        Pipl. All other trademarks appearing on Pipl services are
        trademarks of their respective owners.</p>
    <p><strong>Attribution</strong><br>
        Some functionality of the Pipl website and applications
        utilizes the GeoNames Data and Web Service, available at geonames.org and licensed under
        the Creative Commons Attribution 3.0 License.</p>
    <p><strong>Entire Agreement</strong><br>
        This License constitutes the entire understanding between Pipl and you with
        respect to the subject matter hereof. There are no understandings, agreements,
        conditions or representations, oral or written, express or implied, with
        reference to the subject matter hereof that are not merged herein, expressly
        referenced herein, or superseded hereby.</p>
    <p><strong>No Waiver</strong><br>
        The failure or delay of Pipl to exercise or enforce any rights or provision
        of the License does not constitute a waiver of such right or provision.</p>
    <p><strong>Survival</strong><br>
        All provisions which must survive in order to give effect to their meaning,
        shall survive any expiration or termination of this License, including without
        limitation all of your representations, warranties and indemnification
        obligations.</p>
    <p><strong>Provisions unenforceable or invalid</strong><br>
        Should any part of this License be held invalid by any court or tribunal, such
        invalidity shall not affect the validity of any remaining part, which will
        remain in full force and effect as if this License had been executed without
        that part having been held to be invalid.</p>
    <p><strong>Assignment</strong><br>
        You shall not transfer, assign, sublicense nor pledge in any manner whatsoever,
        any of your rights or obligations under this agreement. Pipl may transfer,
        assign, sublicense or pledge in any manner whatsoever, any of its rights and
        obligations under this agreement to a subsidiary, affiliate, successor thereof
        or to any third party whatsoever, without notifying you or receiving your
        consent.</p>




    </div>

    </div>
    </div> <!-- /container -->

</%def>