<div class="dynamic-address-fields">
    <div class="control-group">
        <label class="control-label">
            Country
        </label>
        <div class="controls">
            <input type="text" readonly value="{{ model.get('country') }}"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Region
        </label>
        <div class="controls">
            <input type="text" readonly value="{{ model.get('region') }}"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            City
        </label>
        <div class="controls">
            <input type="text" readonly value="{{ model.get('city') }}"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Post Code
        </label>
        <div class="controls">
            <input type="text" readonly value="{{ model.get('postCode') }}"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Street 1
        </label>
        <div class="controls">
            <input type="text" readonly value="{{ model.get('line1') }}"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Street 2
        </label>
        <div class="controls">
            <input type="text" readonly value="{{ model.get('line2') }}"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Street 3
        </label>
        <div class="controls">
            <input type="text" readonly value="{{ model.get('line3') }}"/>
        </div>
    </div>
</div>