<span class="resultcounter">{{ models.length }} hits
    {% if (models.length < total){ %}
        of {{ total }}
    {% } %}
</span>
{% if(models.length > 0){ %}
    <a class="dismiss">✖</a>
{% } %}
<ul class="entity-search" >
{% _(models).each(function(item, idx){ %}
    <li data-entity-id="{{ item.id }}" class="search-result-item" shortcut="{{ idx+1 }}">
        {{ item.getSearchLabel() }}
        <span class="shortcut">strg/⌘+{{ idx+1 }}</span>
    </li>
{% }); %}
{% if(withExtra){ %}
    <li data-entity-id="CREATE" shortcut="0" class="search-result-item create-new-entity">add new
        <span class="shortcut">strg/⌘+0</span>
    </li>
{% } %}
</ul>