.collector-list{
  border: 1px solid #eee;
  .single-profile{
    padding:  3px 10px;
  }
  .single-profile + .single-profile {
    border-top: 1px solid #eee;
  }
  .single-profile:nth-child(2n+1){
    background: #f9f9f9;
  }
  .profile-link {
    display: inline-block;
    width: 33%;
  }
}