.sources-form {
  padding-bottom: 20px;
}

.artists.tag {
  padding: 10px;
  display: block;
  background-color: #f9f9f9;
}

.artist-embedded-form {
  .search-field {
    margin: 15px 1px;
  }
}

.saved-warning {
  float:right;
  color: #f44;
  margin-right:30px;
}
