
.navbar .flag {margin: 2px;vertical-align: top; display: inline-block;}


.page-title-collector {
  padding: 10px 25px 0;
  margin-bottom: 0;
  .box-sizing(border-box);
  .linked-collector-link {
    font-size: @baseFontSize;
  }
}

.content-body > .reset-clearfix > .nav-tabs {
  margin: 0 0 10px 0;
  padding: 10px 0 0 25px;
  background: #f3f3f3;
  .active  > .nav-entry-link {background:#fff;}
}