@leftbarWidth : 250px;
@rightbarWidth : 120px;

.clear{clear:both;}
.body-wrapper {
  #gradient > .vertical(@bodyBackground, @bodyHighlightBackground);
}
.content-menu {
  width:@leftbarWidth;
  float:left;
  .text-overflow();
}
.spaced {margin-top: 15px;}
.content-body {
  border-left:1px solid @borderColor;
  border-right:1px solid @borderColor;
  background: @white;
  min-height: 500px;
  padding: 0;
  .clearfix;
  .header-nav-tabs{
    background:#eee;
    padding-left: 15px;
  }
  .body-pane-wrapper {
    position:relative;
    padding: 20px 25px;
    background:white;
    min-height:650px;
  }
  .body-pane-context {padding: 25px 35px 25px 0;}
}
.content-menu + .content-body {margin-left:@leftbarWidth - 1px;}
.content-body.has-status {margin-right: @rightbarWidth;}

.content-status-wrapper {
  float:right;
  width: @rightbarWidth;
}
.content-status {
  margin: 10px 5px 0 20px;
  text-align: center;
  .label {
    width: 100%;
    padding: 10px 0;
  }
}

.padded-body {
  padding: 10px 25px;
}.reset-clearfix {
   width:100%;
   float:left;
}.fixed-appendix {
  background-color: #f3f3f3;
  padding:  0 25px;
  border-bottom:1px solid #ddd;
  border-top:1px solid #ddd;
  position: relative;
  height: 178px;
  overflow-y: scroll;
  overflow-x: visible;
  .form-actions.affixed {
    position: absolute;
    padding:  4px 30px;
    right: 0;
    top: -1px;
    border-left: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
  }
}


.fixed-height {
  min-height:300px;
  overflow-y: scroll;
  overflow-x: visible;
  position: relative;
  padding: 0 25px;
  .fixed-height-content {
    margin-bottom:10px;
  }
}

.navbar .brand {
  width:@leftbarWidth;
  text-align: center;
}

.show-contracted {display:block;}
.show-expanded {display:none;}
.expanded {
  .show-contracted {display:none;}
  .show-expanded {display:block;}
  .show-expanded.inline {display:inline;}
}